<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>blog详情页</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/js/weditor/css/wangEditor.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/blog.css}"/>
  </head>
  <body>
 	<!-- header部分开始 -->
	<div id="header">
		<div id="header_center">
			<a id="logo" th:href="${#mvc.url('BC#index').build()}" class="floatl">
				<img th:src="@{/resources/images/logo.png}"/></a>
			<div id="navigation" class="floatl">
				<ul>
					<li><a th:href="@{/blogs/index}">首页</a></li>
					<li><a href="#">博客</a></li>
					<li><a href="#">音乐</a></li>
					<li><a href="#">插件</a></li>
					<li class="clearf"></li>
				</ul>
			</div>
			<div id="user" th:if="${session.loginUser != null}" class="floatr">
				<input id="user_id" type="hidden" th:attr="data-id = ${session.loginUser.id}"/>
				<i></i>
				<img id="avatar" th:src="'/blog/resources/images/avatars/'+${session.loginUser.avatar}" style="width:30px;height:30px;"/>
				<a class="nickname" style="display:none;" id="user_name" th:text="${session.loginUser.nickname}"></a>
				<ul id="user_list">
					<li>
						<a th:href="${#mvc.url('UC#show').arg(3, session.loginUser.id).build()}" target="_blank">个人中心</a></li>
					<li>
						<a th:href="${#mvc.url('UC#logout').arg(0, session.loginUser.id).build()}">退出</a></li>
				</ul>
			</div>
			<div id="user" th:if="${session.loginUser == null}" class="floatr">
				<a id="login" th:href="@{/users/login}">登录</a>/
				<a id="register" th:href="@{/users/register}">注册</a>
			</div>
			<div id="publish" class="floatr">
				<i></i>
				<a th:text="发表" th:href="@{/blogs/publish}"></a>
			</div>
			<form id="search" action="" method="get" class="floatr">
				<i></i>
				<input type="text" name="" id="search_txt" placeholder="输入关键字搜索"/>
			</form>
			<div class="clearf"></div>			
		</div>
	</div>
	<!-- header部分结束 -->
	
	<!-- body部分开始 -->
	<div id="body">
		<div id="main_container">
			<div id="catalog">
				<a href="/">首页</a>/
				<a href="#">博客</a>
			</div>
			<div id="blog" th:attr="data-id = ${blog.id}">
				<div id="blog_title" th:utext="${blog.title}">标题</div>
				<div id="blog_info">
					<img style="width:24px;height:24px;border-radius:24px;" th:src="'/blog/resources/images/avatars/'+${blog.user.avatar}"/>&nbsp;
					<a style="color:#0787D8" id="blog_author" th:attr="data-id = ${blog.user.id}" target="_blank" th:href="${#mvc.url('UC#show').arg(3, blog.user.id).build()}" th:utext="${blog.user.nickname}">作者</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<i id="blog_time" th:attr="style='background:url('+@{/images/blog_info2.png}+') 0px -86px  no-repeat'"></i>&nbsp;
						<span style="color:#999" th:text="${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm')}">发布时间</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<i id="blog_viewed_times" th:attr="style='background:url('+@{/images/blog_info2.png}+') 0px -266px no-repeat'"></i>&nbsp;
						<span style="color:#D80711" th:text="${blog.viewedTimes}">阅读次数</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<i id="blog_comment_times" th:attr="style='background:url('+@{/images/blog_info2.png}+') 0px -40px  no-repeat'"></i>&nbsp;
						<span style="color:#D80711" th:text="${blog.comments.size()}">评论次数</span>
				</div>
				<div id="blog_txt" th:utext="${blog.content}">内容</div>
				<div id="blog_operations">
					<a th:if="${isZan}" class="visited no_hover">
						已赞<span th:text="${blog.zanUsers.size()}"></span>
					</a>
					<a th:if="${!isZan}" id="blog_operations_zan">
						赞<span th:text="${blog.zanUsers.size()}"></span>
					</a>
					<a th:if="${session.loginUser != null and session.loginUser.id != blog.user.id and isCollect}" class="visited no_hover">
						已收藏<span th:text="${blog.collectUsers.size()}"></span>
					</a>
					<a th:if="${session.loginUser == null or (session.loginUser != null and session.loginUser.id != blog.user.id and !isCollect)}" id="blog_operations_collect">
						收藏<span th:text="${blog.collectUsers.size()}"></span>
					</a>
					<a th:if="${session.loginUser == null or (session.loginUser != null and session.loginUser.id != blog.user.id and !isCare)}" class="blog_operations_care" id="blog_operations_care" onclick="careUser(this)" th:text="加关注">加关注</a>
					<a th:if="${session.loginUser != null and session.loginUser.id != blog.user.id and isCare}" class="blog_operations_care visited no_hover" id="blog_operations_cared" onclick="cancelCareUser(this)" th:text="已关注">已关注</a>
				</div>
			</div>
			
			
			
			<div id="comment_container">
				<div id="csize" th:if="${comments!=null and comments.size()>=1}">共&nbsp;<em style="color:#D8582B" th:text="${comments.size()}"></em>&nbsp;条评论</div>
				<ul id="clist">
					<li class="citem" th:each="comment,commentStat : ${comments}" th:if="${comment != null}" th:attr="data-id = ${comment.id}">
						<img class="cavatar" th:src="'/blog/resources/images/avatars/'+${comment.user.avatar}"/>
						<div class="cbody">
							<div class="cuser">
								<a class="cuser_name" target="_blank" th:href="${#mvc.url('UC#show').arg(3, comment.user.id).build()}" 
									th:attr="data-id = ${comment.user.id}" th:utext="${comment.user.nickname}">评论者</a> &nbsp;
								<a th:if="${session.loginUser != null and comment.user.id == session.loginUser.id}" onclick="deleteComment(this)">删除</a>
								<span class="clou">
									<span class="clou_quantifier">楼</span>
									<span class="clou_number" th:text="${commentStat.count}"></span>
									<span class="clearf"></span>
								</span><span class="clearf"></span>
							</div>
							<div class="ctxt" th:utext="${comment.content}">评论内容</div>
							<div class="cinfo">
								<span class="ctime">评论于&nbsp;<span th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">发表时间</span></span>
								<div class="cactions">
									<a th:if="${!comment.existsZanUser(session.loginUser)}" class="cactions_zan" onclick="zanComment(this)">
										<span th:text="${comment.zanUsers.size()}"></span>
									</a>
									<a th:if="${comment.existsZanUser(session.loginUser)}" class="cactions_zan cactions_visited cactions_nohover">
										<span th:text="${comment.zanUsers.size()}"></span>
									</a>
									
									<a th:if="${!comment.existsCaiUser(session.loginUser)}" class="cactions_cai" onclick="caiComment(this)">
										<span th:text="${comment.caiUsers.size()}"></span>
									</a>
									<a th:if="${comment.existsCaiUser(session.loginUser)}" class="cactions_cai cactions_visited cactions_nohover">
										<span th:text="${comment.caiUsers.size()}"></span>
									</a>
									
									<a class="cactions_hui" onclick="replyComment(this)">
										<span>回复</span>
									</a>
								</div>
							</div>
						</div>
						
						<div class="recomment_container">
							<div class="csize" th:if="${comment.replies!=null and comment.replies.size()>=1}">
								共&nbsp;<em style="color:#D8582B" th:text="${comment.replies.size()}"></em>&nbsp;条回复
								<a class="rec_show_hide" th:if="${comment.replies!=null and comment.replies.size()>5}" onclick="showorhideRecomment(this)">收起</a>
							</div>
							<ul class="reclist">
								<li class="recitem" th:each="reply : ${comment.replies}" th:if="${reply != null}" th:attr="data-id = ${reply.id}">
									<img class="cavatar" th:src="'/blog/resources/images/avatars/'+${reply.user.avatar}"/>
									<div class="cbody">
										<div class="cuser">
											<a class="cuser_name" target="_blank" th:href="${#mvc.url('UC#show').arg(3, reply.user.id).build()}" 
												th:attr="data-id = ${reply.user.id}" th:utext="${reply.user.nickname}">昵称</a>&nbsp;
											<a style="color:#337ab7" target="_blank" th:href="${#mvc.url('UC#show').arg(3, reply.replyTo.id).build()}">
												@<span style="color:#337ab7" th:utext="${reply.replyTo.nickname}">@昵称</span></a>&nbsp;
											
											<a th:if="${session.loginUser != null and reply.user.id == session.loginUser.id}" onclick="deleteReComment(this)">删除</a>
										</div>
										<div class="ctxt" th:utext="${reply.content}">回复内容</div>
										<div class="cinfo">
											<span class="ctime">回复于&nbsp;<span th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">时间</span></span>
											<div class="cactions">
												<a th:if="${!reply.existsZanUser(session.loginUser)}" class="cactions_zan" onclick="zanComment(this)">
													<span th:text="${reply.zanUsers.size()}"></span>
												</a>
												<a th:if="${reply.existsZanUser(session.loginUser)}" class="cactions_zan cactions_visited cactions_nohover">
													<span th:text="${reply.zanUsers.size()}"></span>
												</a>
												
												<a th:if="${!reply.existsCaiUser(session.loginUser)}" class="cactions_cai" onclick="caiComment(this)">
													<span th:text="${reply.caiUsers.size()}"></span>
												</a>
												<a th:if="${reply.existsCaiUser(session.loginUser)}" class="cactions_cai cactions_visited cactions_nohover">
													<span th:text="${reply.caiUsers.size()}"></span>
												</a>
											
												<a class="cactions_hui" onclick="replyRecomment(this)" th:attr="style='background:url('+@{/images/comment_reply_hui.png}+') no-repeat'">
													<span>回复</span>
												</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			
			<!-- comment的editor部分开始 -->
			<div id="ceditor_container">
				<div id="ceditor" style="height:150px;"></div>
				<div id="status_bar">
					<a id="ceditor_btn" onclick="publishComment(this)" th:text="发表评论"></a>
				</div>
			</div>
			<!-- comment的editor部分结束 -->
		</div>

			
		<!-- 右侧边栏 -->
		<div id="side_container">
			<div id="bs_user" class="sidebar_module">
				<img id="bs_user_avatar" th:src="'/blog/resources/images/avatars/'+${blog.user.avatar}"/>
				<div id="bs_user_info">
					<div id="bs_user_name">
						<a target="_blank" th:href="${#mvc.url('UC#show').arg(3, blog.user.id).build()}" th:utext="${blog.user.nickname}"></a>
						<a th:if="${!isCare}" id="bs_user_care" onclick="careUser(this)">加关注</a>
						<a th:if="${isCare}" class="visited no_hover" id="bs_user_care" onclick="cancelCareUser(this)">已关注</a>
					</div>
					<div id="bs_user_createtime">创建于&nbsp;<span th:text="${#dates.format(blog.user.createTime,'yyyy-MM-dd HH:mm')}"></span></div>
				</div><div class="clearf"></div>
			</div>
			<div id="blogs_newest" class="sidebar_module" th:if="${newestBlogs.size() >= 2}">
				<h2 class="sidebar_module_theme">最新发表</h2>
				<ul id="module_newesBlogs">
					<li class="blog_newest" th:each="newestBlog : ${newestBlogs}" th:if="${newestBlog != null and newestBlog.id != blog.id}">
						<a class="blog_newest_title" th:href="${#mvc.url('BC#show').arg(0,newestBlog.id).build()}" th:utext="${newestBlog.title.length() > 20 ? newestBlog.title.substring(0,20)+'...' : newestBlog.title}"></a>
						<!-- <div class="blog_newest_content" th:utext="${newestBlog.content.length() > 60 ? newestBlog.content.substring(0,60)+'...' : newestBlog.content}"></div> -->
						<div class="blog_newest_content" th:utext="${newestBlog.content}"></div>
					</li>
				</ul>
			</div>
			<div id="tags" class="sidebar_module">
				<h2 class="sidebar_module_theme">标签云</h2>
				<ul id="module_topics">
					<li th:each="topicType : ${topicTypes}" th:if="${topicType != null}">
						<a class="topic" th:href="${#mvc.url('BC#topic').arg(3, topicType.key).build()}" th:text="${topicType.value}"></a></li>
				</ul>
			</div>
		</div>
		<div class="clearf"></div>
	</div>
	<!-- body部分结束-->
	
	<!-- footer部分开始 -->
	<div id="footer">
		<p>Copyright &copy; 2016 by wuchao</p>
	</div>
	<!-- footer部分结束 -->
		
	<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/scrolltotop.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/base.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/blog.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/user.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/weditor/js/wangEditor.min.js}"></script>
	<script type="text/javascript">
	/*<![CDATA[*/
		initNewestBlogs();
	
		/*初始化输入框*/
   		var Editor = new wangEditor('ceditor');
   		
   		/*默认配置在wangEditor.js中*/
    	// 菜单配置
	    Editor.config.menus = [
	        'source',
	        'link',
	        'emotion',
	        'img',
	        'video',
	        'location',
	        'insertcode',
	        'fullscreen'
	    ];
		
		// 配置自定义表情，在 create() 之前配置
		Editor.config.emotions = {
		    // 支持多组表情
		
		    // 第一组，id叫做 'default' 
		    'default': {
		        title: '默认',  // 组名称
		        data: 'http://localhost:8080/blog/resources/js/weditor/static/emotions/default/default.data'  // data 可以是一个url地址，访问该地址要能返回表情包的json文件
		    },
		};
			
    	Editor.config.uploadImgUrl = '/blog/upload/uploadImage';	// 上传图片
		Editor.config.pasteFilter = false,	// 粘贴文字时不过滤样式和属性
    	Editor.create();  //创建编辑器
	    
	    var comments_flag = 0;
	    var comments_id = "comments";
	    
		var reply_btn_flag = 0;
		var replies_flag = 0;
		var replies_class = "replies";
		var replies_length;
		
		//原来是可以的
		//var blog_id = /*[[${blog.id}]]*/
		//var blog_user_id = /*[[${blog.user.id}]]*/
		var blog_id = $("#blog").data("id");
		var blog_user_id = $("#blog_author").data("id");
		var user_id = $("#user_id").data("id");
		var user_name = $("#user_name").html();
		
		//判断字符串是否为空
	 	function isEmpty(str){
			if (str == '' || str == null || str == undefined) {
				return true;
			} else {
				return false;
			}
		}
		
		
		
		/*将服务器传来的时间戳日期时间转换格式*/
		function getLocalTime(time) {     
			var date = new Date(time);
			Y = date.getFullYear() + '-';
			M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
			D = date.getDate() < 10 ? '0'+date.getDate()+' ' : date.getDate() + ' ';
			h = date.getHours() < 10 ? '0'+date.getHours()+':' : date.getHours() + ':';
			m = date.getMinutes() < 10 ? '0'+date.getMinutes()+':' : date.getMinutes();
			return(Y+M+D+h+m); 
  		} 
  		
	/*]]>*/
 	</script>
  </body>
</html>
