<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Login</title>

    <!-- Bootstrap -->
    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div class="containter">
    <div class="center-block" style="width: 360px;">
        <form method="post" th:action="@{/admin/login}">
            <h3 class="bg-">登录</h3>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <p class="text-danger" th:if="${param.error != null}">
                用户名或密码错误
            </p>
            <p class="text-danger" th:if="${param.logout != null}">
                退出成功
            </p>
            <div class="form-group">
                <label class="sr-only" for="username"></label>
                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名"
                       autocomplete="off"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password"></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入用户密码"
                       autocomplete="off" maxlength="16"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remeber-me"/>自动登录
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-group-justified">登录</button>
        </form>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
</body>
</html>