<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <meta charset="utf-8">

    <title>wuspace | 博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="blog"/>
    <meta name="keywords" content="Java, Spring"/>

    <!--template css-->
    <link rel="stylesheet" href="/css/articles/articles.css">
</head>

<body>
<div id="container">
    <div layout:fragment="content">
        <div class="container clearfix" style="border:1px solid red;">
            <div class="pull-left" id="main">
                <div class="article" th:each="article : ${articles}">
                    <div class="article-header">
                        <h4 class="article-title"><a th:href="@{/blogs/{id}(id=${article.id})}" th:utext="${article.title}"></a></h4>
                        <p class="article-label" style="border:1px solid red">
                            <span class="" style="width:30px;" th:text="${#calendars.format(article.createdDate, 'yyyy-MM-dd')}">时间</span>
                            <span class="" style="width:30px;" th:utext="${article.user.nickname}">作者</span>
                            <span class="" style="width:30px;" th:text="${article.viewedTimes}">查看次数</span>
                        </p>
                    </div>
                    <div class="article-body">
                        <p class="article-text" th:utext="${#strings.abbreviate(article.content, 280)}"></p>
                    </div>
                    <div class="article-footer">
                        <a href="#" class="fa fa-link">Card link</a>
                    </div>
                </div>
            </div>

            <div class="pull-right " id="sidebar" style="border: 1px solid red">
                aside
            </div>
        </div>
    </div>
</div>

</body>
</html>