<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="utf-8"/>
    <title>天才宝宝</title>
</head>

<body style="color:#565a5f;font-size: 16px;font-family: 'Open Sans', 'Helvetica Neue', 'Microsoft Yahei'">
<!--<div class="navbar">-->
<!--<div class="navbar-inner">-->
<!--<div class="nav-narrow">-->
<!--<a class="brand" href="/"><span class="fa fa-mortar-board (alias)">天才宝宝</span></a>-->
<!--<ul class="nav">-->
<!--<li><a href="/archive">文章</a></li>-->
<!--<li><a href="/categories">分类</a></li>-->
<!--<li><a href="/pages">页面</a></li>-->
<!--<li><a href="/tags">标签</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div layout:fragment="content">
    <div class="container">
        <div style="margin:20px auto;">
            <div class="content" style="width:740px;padding:0px 20px;margin:0px 20px;">
                <div style="width:700px;max-height:400px;padding:20px;margin:20px 0;background-color: #fff;box-shadow: 1px 1px 1px 1px #999"
                     th:each="blog : ${blogs}">
                    <div class="article-header" style="padding:10px 0;">
                        <a style="display:block;color:#009688;font-size:24px;"
                           th:href="@{/blogs/{blogId}(blogId=${blog.id})}" th:text="${blog.title}"></a>
                        <p class="article-meta" style="padding:10px 0;">
                            <span th:text="${#calendars.format(blog.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            <span th:if="${blog.user != null}" th:text="${blog.user.username}"></span>
                        </p>
                    </div>
                    <div class="article-body" th:text="${blog.content}"></div>
                    <div class="article-footer"></div>
                </div>

                <!--分页-->
                <div class="clearfix">
                    <div class="pull-right">
                        <ul id="pagination"
                            th:attr="data-totalelements=${blogs.getTotalElements()}"></ul>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <footer class="card clearfix">
            <span style="font-size:30px;" class="fa fa-github pull-left"></span><a href="https://github.com"
                                                                                   style="display:inline-block;padding-right:80px;border-right:1px solid #bbb">GitHub</a>
            <p class="pull-right">&copy; 2011 天才宝宝</p>
        </footer>

    </div>
</div>

<div layout:fragment="scripts">
    <script src="/js/blogs/index.js"></script>
</div>
</body>
</html>

