<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>blog首页</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link type="text/css" rel="stylesheet" href="/css/base.css" th:href="@{/css/base.css}">
    <link type="text/css" rel="stylesheet" href="/css/blogs.css"/>
    <link type="text/css" rel="stylesheet" href="/css/paging.css"/>
    <link type="text/css" rel="stylesheet" href="/css/topic.css"/>
    <style>
		#module_notice {
			margin: 0px;
			padding: 2px 0px;
			list-style: none;
		}
		.module_nr{
			display:block;
			padding:10px 0px;
			border-bottom: 1px solid #428BCA;
		}
		.module_nr_title {
			font-weight: 700;
			font-size: 18px;
			color: #222;
		}
		
		.module_nr_content {
			margin-top: 10px;
		}
    </style>
  </head>
  <body>
	<!-- header部分开始 -->
	<div id="header">
		<div id="header_center">
			<a id="logo" th:href="${#mvc.url('BC#index').build()}" class="floatl">
				<img th:src="@{/images/logo.png}"/></a>
			<div id="navigation" class="floatl">
				<ul>
					<li><a href="#">新闻</a></li>
					<li><a href="#">音乐</a></li>
					<li><a href="#">图片</a></li>
					<li><a href="#">博客</a></li>
					<li><a href="#">插件</a></li>
					<li class="clearf"></li>
				</ul>
			</div>
			<div id="user" th:if="${session.loginUser != null}" class="floatr">
				<input id="user_id" type="hidden" th:attr="data-id = ${session.loginUser.id}"/>
				<i></i>
				<img id="avatar" th:src="'/images/avatars/'+${session.loginUser.avatar}" style="width:30px;height:30px;"/>
				<a class="nickname" style="display:none;" id="user_name" th:text="${session.loginUser.nickname}"></a>
				<ul id="user_list">
					<li>
						<a th:href="${#mvc.url('UC#show').arg(3, session.loginUser.id).build()}" target="_blank">个人中心</a></li>
					<li>
						<a th:href="${#mvc.url('UC#logout').arg(0, session.loginUser.id).build()}">退出</a></li>
				</ul>
			</div>
			<div id="user" th:if="${session.loginUser == null}" class="floatr">
				<a id="login" th:href="@{/users/login}">登录</a>/
				<a id="register" th:href="@{/users/register}">注册</a>
			</div>
			<div id="publish" class="floatr">
				<i></i>
				<a th:text="发表" th:href="@{/blogs/publish}"></a>
			</div>
			<form id="search" action="" method="get" class="floatr">
				<i></i>
				<input type="text" name="" id="search_txt" placeholder="输入关键字搜索"/>
			</form>
			<div class="clearf"></div>			
		</div>
	</div>
	<!-- header部分结束 -->
	
	<!-- body部分开始 -->
	<div id="body">
		<!-- content_wrap部分开始 -->
		<div id="main_container">
			<div id="blog_container">
				<div id="blist_info">
					共有博客<span th:text="${blogPage.content.size()}"></span>篇
				</div>
				<ul id="blist">
					<li class="bitem" th:each="blog : ${blogPage.content}" th:attr="data-id = ${blog.id}">
						<div th:attr="class = ${(blog.image != null and !#strings.isEmpty(blog.image)) ? 'bcontent' : 'bcontent_only'}">
							<h2 class="btitle"><a th:href="${#mvc.url('BC#show').arg(0, blog.id).build()}"  th:utext="${#strings.length(blog.title) > 20 ? #strings.substring(blog.title, 0, 20) : blog.title}"></a></h2>
							<div class="btxt" th:utext="${#strings.length(blog.content) > 360 ? #strings.substring(blog.content, 0, 360)+'...' : blog.content}"></div>
							<div class="btags" th:text="${#strings.length(blog.content)}">
								
							</div>
							<div class="binfo">
								<i th:attr="style='background:url('+@{/images/blog_author.png}+') no-repeat'"></i>
								<a class="bauthor" target="_blank" th:href="${#mvc.url('UC#show').arg(3, blog.user.id).build()}" th:utext="${blog.user.nickname}">作者</a>&nbsp;&nbsp;
								
								<i th:attr="style='background:url('+@{/images/blog_time.png}+') no-repeat'"></i>
								<span class="btime" th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">发表时间</span>&nbsp;&nbsp;
								
								<i th:attr="style='background:url('+@{/images/blog_view_times.png}+') no-repeat'"></i>
								<span th:text="${blog.viewedTimes}">浏览次数</span>&nbsp;&nbsp;
								
								<a th:if="${session.loginUser != null and session.loginUser.id == blog.user.id}" 
									th:attr="data-id=${blog.id}" onclick="deleteBlog(this)" th:text="删除">删除</a>
								
								<a th:if="${session.loginUser != null and session.loginUser.id == blog.user.id}" 
									th:href="'/blog/blogs/'+${blog.id}+'/update'" th:text="编辑">编辑</a>
							</div>
							
						</div>
						<div class="bimage" th:if="${blog.image != null and !#strings.isEmpty(blog.image)}">
							<img style="width:220px; height:150px;" th:src="${blog.image}"/>
						</div>
						<div style="clear:both;"></div>
					</li>
				</ul>
			</div>
			
			<!-- 分页 -->
			<div id="pageContainer">
				<div id="pages" th:if="${totalPages >= 2}">
					<a th:href="${#mvc.url('BC#index').arg(0, 0).arg(2, 0).build()}">首页</a>
					<a th:if="${prePage - 1 >= 0}" th:href="${#mvc.url('BC#index').arg(0, firstResult).arg(1, prePage).arg(2, prePage - 1).build()}">上一页</a>
					<a class="arw_l no_hover" th:if="${prePage - 1 lt 0}">上一页</a>
					<a th:if="${firstResult le totalPages - 1}" th:attr="class = ${prePage == firstResult ? 'clicked' : ''}"
						th:href="${#mvc.url('BC#index').arg(0, firstResult).arg(1, prePage).arg(2, firstResult).build()}" th:text="${firstResult + 1}">1</a>
					<a th:if="${firstResult + 1 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 1 ? 'clicked' : ''}"
						th:href="${#mvc.url('BC#index').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 1).build()}" th:text="${firstResult + 2}">2</a>
					<a th:if="${firstResult + 2 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 2 ? 'clicked' : ''}"
						th:href="${#mvc.url('BC#index').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 2).build()}" th:text="${firstResult + 3}">3</a>
					<a th:if="${firstResult + 3 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 3  ? 'clicked' : ''}"
						th:href="${#mvc.url('BC#index').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 3).build()}" th:text="${firstResult + 4}">4</a>
					<a th:if="${firstResult + 4 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 4  ? 'clicked' : ''}"
						th:href="${#mvc.url('BC#index').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 4).build()}" th:text="${firstResult + 5}">5</a>
					<a th:if="${prePage + 2 le totalPages}" th:href="${#mvc.url('BC#index').arg(0, firstResult).arg(1, prePage).arg(2, prePage + 1).build()}">下一页</a>
					<a class="arw_r no_hover" th:if="${prePage + 2 > totalPages}">下一页</a>
					<a th:href="${#mvc.url('BC#index').arg(0, totalPages - 6).arg(2, totalPages - 1).build()}">尾页</a>
					<a class="no_hover">共<span th:text="${totalPages}"></span>页</a>
					<div class="clearf"></div>
				</div>
			</div>
		</div>
		<!-- content_wrap部分结束 -->
		
		<!-- sidebar部分开始 -->
		<div id="side_container">
			<!-- 话题分类部分开始 -->
			<div id="topics_container" class="sidebar_module">
				<h2 class="sidebar_module_theme">话题分类 </h2>
				<ul id="topics">
					<li th:each="topicType : ${topicTypes}" th:if="${topicType != null}">
						<a class="topic" th:href="${#mvc.url('BC#topic').arg(3, topicType.key).build()}" th:text="${topicType.value}"></a></li>
				</ul>
			</div>
			<!-- 话题分类部分结束 -->
		</div><div style="clear:both;"></div>
		<!-- sidebar部分结束-->		
	</div>
	<!-- body部分结束-->
	
	<!-- footer部分开始 -->
	<div id="footer">
		<p>Copyright &copy; 2016 by wuchao &nbsp;&nbsp;
			<span><a style="margin:20px 0px;color:#337ab7" th:href="@{/admins/adminLogin}">管理员登录入口</a></span></p>
	</div>
	<!-- footer部分结束 -->
	
	<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scrolltotop.js}"></script>
	<script type="text/javascript" th:src="@{/js/blog.js}"></script>
 	<script type="text/javascript">
	/*<![CDATA[*/
		$("#user").mouseover(function(){
			$("#user_list").show();
		}).mouseleave(function(){
			$("#user_list").hide();
		});
		
	/*]]>*/
 	</script>
  </body>
</html>
