<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>AHPUT高校论坛帖子详情页</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/js/weditor/css/wangEditor.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/editor.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/blog.css}"/>
    <style>
		body {
			padding:0px;
			margin:0px;
			background:#F0F0F0;
			font-family:"微软雅黑";
			font-size:12px;
		}
    </style>
  </head>
  <body>
 	<!-- header部分开始 -->
	<div id="header">
		<div id="logo">
			<a th:href="@{/blogs}"><img th:src="@{/images/logo.png}"/></a>
		</div>
		<div id="navigation">
			<ul>
				<li id="user" th:if="${session.loginUser != null}">
					<input id="user_id" type="hidden" th:attr="data-id = ${session.loginUser.id}"/>
					<a class="nickname" id="user_name" th:text="${session.loginUser.nickname}"></a>
					<ul id="user_list">
						<li>
							<a th:href="${#mvc.url('UC#show').arg(3, session.loginUser.id).build()}" target="_blank">个人中心</a></li>
						<li>
							<a th:href="${#mvc.url('UC#logout').arg(0, session.loginUser.id).build()}">退出</a></li>
					</ul>
				</li>
				<li th:if="${session.loginUser == null}">
					<a class="table" th:href="@{/users/login}">登录</a>
				</li>
				<li th:if="${session.loginUser != null}"><a class="table" th:href="${#mvc.url('UC#careUsers').arg(3, session.loginUser.id).build()}">关注的人</a></li>
				<li th:if="${session.loginUser != null}"><a class="table" th:href="${#mvc.url('UC#collects').arg(3, session.loginUser.id).build()}">我的收藏</a></li>
				<li th:if="${session.loginUser != null}"><a class="table" th:href="${#mvc.url('UC#blogs').arg(3, session.loginUser.id).build()}">我的发帖</a></li>
				<li><a class="table" th:href="@{/blogs/index}">首页</a></li>
			</ul>
		</div>
	</div>
	<!-- header部分结束 -->
	
	<!-- body部分开始 -->
	<div id="body" style="background:#fff;">
		<div id="main_container">
			<!-- editor部分开始 -->
			<form th:action="'/blog/blogs/'+${blog.id}+'/update'" method="blog" th:if="${session.loginUser != null and blog.user.id == session.loginUser.id}">
				<div id="editor_container" th:if="${session.loginUser != null}">
					<select id="editor_topics" name="topicType">
						<option class="blog_topic" th:value="${blog.topicType}" th:text="${blog.getTopicTypeByKey()}">话题类别</option>
						<option class="blog_topic" th:each="topicType : ${topicTypes}" th:if="${topicType != null}" 
							th:attr="value = ${topicType.key}" th:text="${topicType.value}"></option>
					</select>
					<input type="text" id="editor_title" name="title" th:value="${blog.title}"/>
					<textarea id="editor" name="content" th:utext="${blog.content}"></textarea>
					<div id="status_bar">
						<input type="submit" id="editor_btn" value="确认修改"/>
					</div>
				</div>
			</form>
			<!-- editor部分结束 -->
		</div>
	</div>
	<!-- body部分结束-->
	
	<!-- footer部分开始 -->
	<div id="footer">
		<p>Copyright &copy; 2016 by wuchao</p>
	</div>
	<!-- footer部分结束 -->
		
	<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/weditor/js/wangEditor.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/blog.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/user.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$("#user").mouseover(function(){
			$("#user_list").show();
		}).mouseleave(function(){
			$("#user_list").hide();
		});
	
		initNewestBlogs();
		
		/*初始化输入框*/
   		var Editor = new wangEditor('editor');
   		
   		/*默认配置在wangEditor.js中*/
    	// 菜单配置
	    Editor.config.menus = [
	        'source',
	        'link',
	        'emotion',
	        'img',
	        'video',
	        'location',
	        'insertcode',
	        'fullscreen'
	    ];
		
		// 配置自定义表情，在 create() 之前配置
		Editor.config.emotions = {
		    // 支持多组表情
		
		    // 第一组，id叫做 'default' 
		    'default': {
		        title: '默认',  // 组名称
		        data: 'http://localhost:8080/blog/resources/js/weditor/static/emotions/default/default.data'  // data 可以是一个url地址，访问该地址要能返回表情包的json文件
		    },
		};
			
    	Editor.config.uploadImgUrl = '/blog/upload/uploadImage';	// 上传图片
		Editor.config.pasteFilter = false,	// 粘贴文字时不过滤样式和属性
    	Editor.create();  //创建编辑器
	    
	    var comments_flag = 0;
	    var comments_id = "comments";
	    
		var reply_btn_flag = 0;
		var replies_flag = 0;
		var replies_class = "replies";
		var replies_length;
		
		var blog_id = /*[[${blog.id}]]*/ null;
		var blog_user_id = /*[[${blog.user.id}]]*/ null;
		var user_id = $("#user_id").data("id");
		var user_name = $("#user_name").html();
		


		/*发表评论*/
   		$("#editor_btn").on("click", function(){
   			publishComment(user_id, blog_id, Editor.$txt);
   		});
		
		
		
		
		
		//判断字符串是否为空
	 	function isEmpty(str){
			if (str == '' || str == null || str == undefined) {
				return true;
			} else {
				return false;
			}
		}
		
		/*将服务器传来的时间戳日期时间转换格式*/
		function getLocalTime(time) {     
			var date = new Date(time);
			Y = date.getFullYear() + '-';
			M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
			D = date.getDate() < 10 ? '0'+date.getDate()+' ' : date.getDate() + ' ';
			h = date.getHours() < 10 ? '0'+date.getHours()+':' : date.getHours() + ':';
			m = date.getMinutes() < 10 ? '0'+date.getMinutes()+':' : date.getMinutes();
			return(Y+M+D+h+m); 
  		} 
  		
  		/*将服务器传来的时间戳日期时间转换格式*/
		/* function getLocalTime(time) {     
			var date = new Date(time);
			Y = date.getFullYear() + '-';
			M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
			D = date.getDate() < 10 ? '0'+date.getDate()+' ' : date.getDate() + ' ';
			h = date.getHours() < 10 ? '0'+date.getHours()+':' : date.getHours() + ':';
			m = date.getMinutes() < 10 ? '0'+date.getMinutes()+':' : date.getMinutes() + ':';
			s = date.getSeconds() < 10 ? '0'+date.getSeconds() : date.getSeconds(); 
			return(Y+M+D+h+m+s); 
  		}  */
	/*]]>*/
 	</script>
  </body>
</html>
