<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<!-- 扫描包 -->
	<context:component-scan base-package="com.wuspace.model"></context:component-scan>
	<context:component-scan base-package="com.wuspace.service"></context:component-scan>
	<context:component-scan base-package="com.wuspace.controller"></context:component-scan>
Spring
	<!--访问静态资源-->
	<!--<mvc:default-servlet-handler default-servlet-name="default"/>-->
	<!--<mvc:resources mapping="/css/**" location="/resources/css/"/>
	<mvc:resources mapping="/images/**" location="/resources/images/"/>
	<mvc:resources mapping="/js/**" location="/resources/js/"/>-->

	<!-- 引入数据库配置文件 -->
	<context:property-placeholder location="classpath:config/db.properties" />
		
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="persistenceProvider" class="org.hibernate.jpa.HibernatePersistenceProvider"></bean>
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"></bean>
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="MYSQL"></property>
	</bean>
	
	<!-- JPA的EntityManagerFactory的配置 -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"></property>
		<property name="persistenceUnitName" value="blog"></property>
		
		<property name="persistenceProvider" ref="persistenceProvider"></property>
		<property name="jpaDialect" ref="jpaDialect"></property>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"></property>
		
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.ejb.naming_strategy">${hibernate.ejb.naming_strategy}</prop>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>
	
	<!-- 配置事务管理器 (SpringDataJPA)-->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	
	<!-- 配置支持注解的事务(SpringDataJPA) -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 配置SpringData -->
	<jpa:repositories base-package="com.wuspace.model" entity-manager-factory-ref="entityManagerFactory"></jpa:repositories>
	
</beans>
