<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wuchao.webproject.domain.UserMapper">

    <!--<resultMap id="userResultMap" type="com.github.wuchao.webproject.domain.User">-->
        <!--<result column="id" property="id"></result>-->
        <!--<result column="username" property="username"></result>-->

        <!--<collection property="authorities" ofType="com.github.wuchao.webproject.domain.Authority">-->
            <!--<result column="authority" property="name"></result>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--<select id="findUserById" parameterType="long" resultType="com.github.wuchao.webproject.domain.User">-->
        <!--select * from users u where u.id = #{id}-->
    <!--</select>-->

</mapper>