#blog_container {
	height: auto !important;
	height: 0px;
	min-height: 0px;
}

#blist_info {
	color: #FF8A00;
	font-size:16px;
}

#blist {
	margin: 10px 0 0 0;

}

#blist .bitem {
	display: block;
	height: auto !important;
	height: 0px;
	min-height: 0px;
	padding:15px;
	background: #fff;
}

#blist li.bitem:hover{
	background-color: #F8F8F8;
}

.bitem .bcontent {
	float: right;
	width: 560px;
	padding: 0 0 0 10px;
}

.bitem .bcontent_only {
	width: 100%;
}

.bitem .bimage {
	float: right;
	width: 220px;
	height: 150px;
	position: relative;
}

.bitem .bimage img {
	position: absolute;
	top: 0px;
	right: 0px;
}

.bitem .btitle {
	margin: 0px;
}

.bitem .btitle a {
	font-size: 24px;
	font-weight: 700;
	color: #222;
}

.bitem .btitle a:hover {
	color: #406599
}

.bitem .btitle a:visited {
	color: #999;
}

.bitem .btxt {
	font-size: 14px;
	color: #666;
}

.bitem .btags {
	padding: 6px 0;
}

.binfo {
}

.bitem .binfo i {
	display: inline-block;
	width: 18px;
	height: 14px;
}

#side_container #topics_container {
	padding: 30px 10px 10px;
}

.bitem .binfo a {
	color: #0c97d5;
}

.bitem .binfo a:hover {
	color: #337ab7;
}