<?xml version="1.0" encoding="UTF-8"?>
<!-- applicationContext.xml配置文件 -->
<beans>
    <bean id="student1" class="com.wuspace.domain.Student">
        <property name="name" value="chao"></property>
        <property name="age" value="24"></property>
        <property name="teacher" ref="teacher1"></property>
    </bean>
    <bean id="teacher1" class="com.wuspace.domain.Teacher">
        <property name="name" value="admin"></property>
        <property name="classes" value="高三九班"></property>
    </bean>
</beans>