<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>AHPUT高校论坛帖子详情页</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/post.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/js/weditor/css/wangEditor.min.css}"/>
    <style>
		body {
			padding:0px;
			margin:0px;
			background:#F0F0F0;
			font-family:"微软雅黑";
			font-size:12px;
		}
		/*body部分开始*/
		#body {
			margin:16px 0 0 20px;
    		width:770px;
    		background:#fff;
    		position:relative;
		}
		#post {
			width:712px;
			margin:12px 0 0 18px;
			padding:4px;
		}
		#post #post_title {
			font-family:微软雅黑;
			font-weight:bold;
			font-size:24px;
			color:#000;
		}
		#post #post_info {
			padding:20px 0px;
			border-bottom:1px solid #E7E7E7;
		}
		#post #post_info #post_viewed_times {
			display:inline-block;
			width:26px;
			height:14px;
		}
		#post #post_info #post_comment_times {
			display:inline-block;
			width:26px;
			height:14px;
		}
		#post #post_nr {
			font-size:16px;
			color:#636363;
		}
		/*body部分结束*/
    </style>
  </head>
  <body>
  	<div id="all">
  		<!-- header部分开始 -->
		<div id="header">
			<div id="logo">
				<a th:href="${#mvc.url('BC#adminPosts').build()}"><img th:src="@{/images/logo.png}"/></a>
			</div>
			<div id="navigation">
				<ul>
					<li id="user">
						<input id="user_id" type="hidden" th:attr="data-id = ${session.loginAdmin.id}"/>
						<a class="nickname" th:text="${session.loginAdmin.nickname}"></a>
						<ul id="user_list">
							<li>
								<a th:href="${#mvc.url('UC#show').arg(0, session.loginAdmin.id).build()}" target="_blank">个人中心</a></li>
							<li>
								<a th:href="${#mvc.url('UC#logout').arg(0, session.loginAdmin.id).build()}">退出</a></li>
						</ul>
					</li>
					<li><a class="table" th:href="${#mvc.url('NC#notices').arg(3, session.loginAdmin.id).build()}">公告</a></li>
					<li><a class="table" th:href="${#mvc.url('UC#adminUsers').build()}">用户</a></li>
					<li><a class="table" th:href="${#mvc.url('BC#adminPosts').build()}">帖子</a></li>
				</ul>
			</div>
		</div>
		<!-- header部分结束 -->
		
		<!-- body部分开始 -->
		<div id="body">
			<div id="post">
				<div id="post_title" th:utext="${post.title}">标题</div>
				<div id="post_info">
					<a style="color:#0787D8" target="_blank" th:href="${#mvc.url('UC#show').arg(0, post.user.id).build()}" th:utext="${post.user.nickname}">作者</a>&nbsp;&nbsp;
						<span style="color:#999" th:text="${#dates.format(post.createTime,'yyyy-MM-dd HH:mm')}">时间</span>&nbsp;&nbsp;
				</div>
				<div id="post_nr" th:utext="${post.content}">内容</div>
			</div>
			
			<!-- comments -->
			<ul id="comments" class="comments" th:if="${comments != null and comments.size() >= 1}">
				<li class="comments_info">
					<span class="replies_size">共&nbsp;<em style="color:#D8582B" th:text="${comments.size()}"></em>&nbsp;条评论</span>
				</li>			
				<li class="comment" th:each="comment : ${comments}" th:if="${comment != null}">
					<i class="author_avatar" th:attr="style='background:url(/cblog/images/avatars/'+ ${comment.user.avatar} +') no-repeat'"></i>
					<p class="cr_header">
						<input type="hidden" class="comment_id" th:attr="data-id = ${comment.id}"/>
						<a class="author" target="_blank" th:href="${#mvc.url('UC#show').arg(0, comment.user.id).build()}" th:attr="data-id = ${comment.user.id}" th:utext="${comment.user.nickname}">作者</a> &nbsp;
						<a onclick="deleteReply(this)">删除</a>
					</p>
					<div class="cr_body" th:utext="${comment.comment}">评论内容</div>
					<div class="cr_footer c_footer">
						<span class="comment_time">评论于&nbsp;<span th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">发表时间</span></span> &nbsp;&nbsp;
					</div>
					
					<!-- replies -->
					<ul class="replies" th:if="${comment.replies != null and comment.replies.size() >= 1}">
						<li class="replies_info">
							<span class="replies_size">共&nbsp;<em style="color:#D8582B" th:text="${comment.replies.size()}"></em>&nbsp;条回复</span>
						</li>
						<li class="reply" th:each="reply : ${comment.replies}" th:if="${reply != null}">
							<i class="author_avatar" th:attr="style='background:url(/cblog/images/avatars/'+ ${reply.user.avatar} +') no-repeat'"></i>
							<p class="cr_header">
								<input type="hidden" class="reply_id" th:attr="data-id = ${reply.id}"/>
								<a class="author" target="_blank" th:href="${#mvc.url('UC#show').arg(0, reply.user.id).build()}" 
									th:attr="data-id = ${reply.user.id}" th:utext="${reply.user.nickname}">昵称</a>&nbsp;
								<a style="color:#337ab7" target="_blank" th:href="${#mvc.url('UC#show').arg(0, reply.replyTo.id).build()}">
									@<span style="color:#337ab7" th:utext="${reply.replyTo.nickname}">@昵称</span></a>&nbsp;
								
								<a onclick="deleteReply(this)">删除</a>
							</p>
							<div class="cr_body" th:utext="${reply.reply}">回复内容</div>
							<div class="cr_footer">
								<span class="reply_time">回复于&nbsp;<span th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">时间</span></span>&nbsp;
							</div>
						</li>
					</ul>
					<ul class="replies0" th:if="${comment.replies == null or comment.replies.size() le 0}">
					</ul>
				</li>
			</ul>
			<ul id="comments0" class="comments0" th:if="${comments != null and comments.size() == 0}">
			</ul>
		</div>
		<!-- body部分结束-->
		
		
		<!-- footer部分开始 -->
		<div id="footer">
			<p>Copyright &copy; 2016 by wuchao</p>
		</div>
		<!-- footer部分结束 -->
	</div>
		
	<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script charset="utf-8" th:src="@{/js/weditor/js/wangEditor.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$("#user").mouseover(function(){
			$("#user_list").show();
		}).mouseleave(function(){
			$("#user_list").hide();
		});
	    
		/*删除评论及回复*/
		function deleteReply(obj) {
			var $this = $(obj);
			var id = $this.parent().find("input").data("id");
			var ul_selector = $this.parents("ul").attr("class");
			var li_class = ".reply";
			var url_ul_selector = "replies";
			if(ul_selector.substr(0,2) == "co"){
				li_class = ".comment";
				url_ul_selector = "comments";
			}
			
			$.ajax({
				type:"get",
				url:"/cblog/"+ url_ul_selector +"/"+ id +"/delete",
				success:function(data){
					if(data.msg.trim() == "success"){
						var $em_len = $this.parents("."+ul_selector).find("li:first .replies_size em");
						var replies_len = parseInt($em_len.text());
						replies_len--;
						if(replies_len <= 0){
							$this.parents("."+ul_selector).slideUp();
						}else{
							$em_len.text(replies_len);
							$this.parents(li_class).slideUp();
						}
					}else{
						alert("删除失败");
						return;
					}
				}
			});
		}
	/*]]>*/
 	</script>
  </body>
</html>
