/* Add here all your css styles (customizations) */
.price-up {
    color: #72c02c;
}

.price-down {
    color: #e74c3c;
}

.bk-btn-red {
    background-color: #e64240;
}

.bk-btn-red:hover {
    background-color: #aa312f;
}

.bk-btn-green {
    background-color: #00d745;
}

.bk-btn-green:hover {
    background-color: #37ab5b;
}

/*Logo*/
.header-fixed .header.header-fixed-shrink .logo img {
    max-width: 200px;
}

@media (min-width: 992px) {
    .header-fixed .header.header-fixed-shrink .logo img {
        max-width: 200px;
        margin: 20px 0 -4px;
    }
}

.header .logo img {
    margin: 20px 0;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.col-margin-sm {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

.text-lg {
    font-size: 16px !important;
}

body {
    font-size: 14px;
}