/*content-wrap���ֿ�ʼ*/
/*blog���ֿ�ʼ*/
#blog {
	margin-top:20px;
}

#blog #blog_title {
	font-family: ΢���ź�;
	font-weight: bold;
	font-size: 24px;
	color: #000;
}

#blog #blog_info {
	padding: 20px 0px;
	border-bottom: 1px solid #E7E7E7;
}

#blog_info img {
	vertical-align: middle;
}

#blog_info a {
	vertical-align: middle;
}

#blog_info i {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

#blog_info span {
	vertical-align: middle;
	color: #999;
}

#blog #blog_txt {
	margin-top: 20px;
	font-size: 16px;
	color: #636363;
	font-size: 16px;
}

#blog #blog_operations {
	margin-top: 22px;
}

#blog #blog_operations a {
	display: inline-block;
	height: 24px;
	padding: 0px 8px;
	margin-right: 8px;
	background: #F0F0F1;
	border-radius: 2px;
	color: #AAAEBE;
	line-height: 24px;
	text-align: center;
	position: relative;
}

#blog #blog_operations a:hover {
	background: #DCDCDE;
}

#blog #blog_operations .visited {
	color: #fff;
	background: #0081A1;
}

#blog #blog_operations .no_hover:hover {
	background: #0081A1;
}

#blog #blog_operations a span {
	margin-left: 5px;
}

#blog #blog_operations .blog_operations_care {
	width: 80px;
}
/*blog���ֽ���*/
a:hover {
	color: #337ab7;
	cursor: pointer;
}

/*clist��reclist���ֿ�ʼ*/
#comment_container {
	height: auto !important;
	height: 0px;
	min-height: 0px;
	margin: 50px 0 0 0;
}

#clist {
	height: auto !important;
	height: 0px;
	min-height: 0px;
	margin: 10px 0 0 0;
}

.citem {
	padding: 0 0 20px 0;
	position: relative;
}

.recomment_container {
	height: auto !important;
	height: 0px;
	min-height: 0px;
	margin: 20px 0 0 50px;
	background: #F7F8FA;
	position: relative;
}

.reclist {
	height: auto !important;
	height: 0px;
	min-height: 0px;
	margin: 10px 0 0 0;
}

.recitem {
	padding: 0 0 10px 0;
	position: relative;
}

.csize {
	position: relative;
}

.csize .rec_show_hide {
	position: absolute;
	top: 0px;
	left: 130px;
}

.cavatar {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 2px;
	left: 0px;
}

.cbody {
	margin-left: 50px;
	font-size: 12px;
	color: #999;
}

.cuser a {
	font-weight: 700;
	color: #337ab7;
}

.cuser a:hover {
	color: #778087;
}

.cuser .clou {
	color: #999;
	float: right;
	position: relative;
	float: right;
}

.clou .clou_quantifier {
	float: right;
	line-height: 28px;
}

.clou .clou_number {
	float: right;
	font-family: "Verdana";
	font-size: 32px;
	line-height: 38px;
}

.cbody .ctxt {
	margin-right: 40px;
	color: #333;
}

.ctxt p {
	line-height: 1em;
}

.cbody .cinfo {
	position: relative;
}

.cinfo .ctime {
	color: #999;
	font-size: 12px;
}

.cinfo .cactions {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 32px;
}

.cactions a {
	display: inline-block;
	width: 20px;
	height: 15px;
	position: relative;
}

.cactions a.cactions_zan {
	margin-right: 26px;
	background-image: url('/blog/resources/images/comment_reply_zan_cai.png');
	background-position: -50px 0px;
	background-repeat: no-repeat;
}

.cactions a.cactions_cai {
	margin-right: 30px;
	background-image: url('/blog/resources/images/comment_reply_zan_cai.png');
	background-position: -50px -24px;
	background-repeat: no-repeat;
}

.cactions .cactions_hui {
	width: 50px;
	background-image: url('/blog/resources/images/comment_reply_hui.png');
	background-repeat: no-repeat;
}

.cactions a:hover {
	background-position-x: 0px;
}

.cactions a.cactions_visited {
	background-position-x: -25px;
}

.cactions a.cactions_nohover:hover {
	background-position-x: -25px;
}

.cactions a span {
	position: absolute;
	top: 0px;
	left: 20px;
}

#receditor_container {
	height: 112px;
	position: relative;
}

#receditor_container #receditor {
	width: 420px;
	height: 50px;
	position: absolute;
	top: 24px;
	right: 32px;
}

#receditor_container #receditor_actions {
	width: 120px;
	position: absolute;
	top: 72px;
	right: 20px;
}

#receditor_actions input {
	margin-right: 5px;
}
/*clist��reclist���ֽ���*/

/*���۷����༭�����ֿ�ʼ*/
#ceditor_container {
	margin: 50px 0 50px;
}

#ceditor_container #status_bar {
	position: relative;
}

#ceditor_container #ceditor_btn {
	display: inline-block;
	padding: 10px 20px;
	background: #2BA3E5;
	color: #fff;
	position: absolute;
	top: 20px;
	right: 0px;
}

#ceditor_container #ceditor_btn:hover {
	background: #1582CE;
}
/*���۷����༭�����ֽ���*/
/*content-wrap���ֽ���*/

/*sidebar���ֿ�ʼ*/
#bs_user {
	padding: 10px;
}

#bs_user #bs_user_avatar {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
}

#bs_user #bs_user_info {
	float: left;
	width: 260px;
	height: 50px;
	margin: 0 0 0 10px;
}

#bs_user_info #bs_user_name {
	padding: 4px 0 8px 0;
	position: relative;
}

#bs_user_name #bs_user_care {
	display: inline-block;
	width: 80px;
	height: 24px;
	padding: 0px 8px;
	background: #F0F0F1;
	border: 1px solid #92B7E9;
	border-radius: 2px;
	color: #AAAEBE;
	line-height: 24px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
}

#bs_user_name #bs_user_care:hover {
	background: #DCDCDE;
}

#bs_user_name #bs_user_care.visited {
	color: #fff;
	background: #0081A1;
}

#bs_user_name #bs_user_care.no_hover:hover {
	background: #0081A1;
}

#bs_user #bs_user_createtime {
	
}

#blogs_newest {
	padding: 30px 10px 10px;
}

#module_newesblogs {
	margin: 0px;
	padding: 2px 0px;
}

.blog_newest {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #428BCA;
}

.blog_newest_title {
	display: block;
	font-weight: 700;
	font-size: 18px;
	color: #222;
	font-weight: 700;
}

.blog_newest_content {
	margin-top: 10px;
}

#tags {
	padding: 30px 10px 10px;
}

#module_topics {
	padding: 2px 0px;
}

#module_topics li {
	display: inline-block;
	margin: 4px 6px;
}

#module_topics li a.topic {
	display: inline-block;
	padding: 4px 10px;
	background: #fff;
	border: 1px solid #ebebeb;
	background: #fff;
	color: #959595;
}

#module_topics li a.topic:hover {
	background: #303030;
	color: #fff;
}
/*sidebar���ֽ���*/