/*Dark Version
------------------------------------*/
body.dark {
    color: #999;
    background-color: #252525;
}

body.dark .wrapper {
    background: #252525;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    color: #ccc;
    font-weight: 200;
}

body.dark .wrapper p {
    color: #999;
}

body.dark p,
body.dark li,
body.dark li a {
    color: #999;
}

body.dark .headline {
    border-bottom: 1px dotted #555;
}

/*!*Headline v2*/
/*------------------------------------*!*/
/*body.dark .headline-v2,*/
/*body.dark .headline-v2.bg-color-light {*/
/*background: #333 !important;*/
/*}*/

/*Parallax Backgrounds
------------------------------------*/
body.dark .parallax-bg {
    background-color: #333;
}

body.dark .parallax-bg:before {
    background: rgba(0, 0, 0, 0.6);
}

/*Bootstrap Features
------------------------------------*/
label {
    color: #999;
}

body.dark strong {
    color: #ccc;
}

body.dark dt {
    color: #ccc;
}

body.dark dd {
    color: #999;
}

body.dark hr {
    border-color: #333;
}

body.dark code {
    background: #333;
}

/*Close
------------------------------------*/
body.dark .close {
    color: #999;
    text-shadow: none;
}

body.dark .close:hover {
    color: #bbb;
}

/*Alert Warning
------------------------------------*/
body.dark .alert-info,
body.dark .alert-danger,
body.dark .alert-success,
body.dark .alert-warning {
    border-color: #444;
    background-color: #333;
}

body.dark .alert h4 {
    color: inherit;
}

body.dark .alert strong {
    color: inherit;
}

body.dark .alert code {
    background: #444;
}

/*Contex Background
------------------------------------*/
body.dark .contex-bg p.bg-info,
body.dark .contex-bg p.bg-danger,
body.dark .contex-bg p.bg-warning,
body.dark .contex-bg p.bg-primary,
body.dark .contex-bg p.bg-success {
    background-color: #333;
}

body.dark .contex-bg p.bg-info {
    color: #27d7e7;
}

body.dark .contex-bg p.bg-danger {
    color: #e74c3c;
}

body.dark .contex-bg p.bg-warning {
    color: #e67e22;
}

body.dark .contex-bg p.bg-primary {
    color: #3498db;
}

body.dark .contex-bg p.bg-success {
    color: #72c02c;
}

/*Address
------------------------------------*/
body.dark address {
    color: #999;
}

/*Heading
------------------------------------*/
body.dark .heading h2:before,
body.dark .heading h2:after {
    border-color: #555;
}

body.dark .contacts-section .title-v1 h2 {
    color: #ccc;
}

body.dark .headline-left .headline-brd {
    color: #ccc;
}

body.dark .headline-center-v2.headline-center-v2-dark span.bordered-icon {
    color: #eee;
}

body.dark .headline-center-v2.headline-center-v2-dark span.bordered-icon:before,
body.dark .headline-center-v2.headline-center-v2-dark span.bordered-icon:after {
    background: #eee;
}

/*Divider
------------------------------------*/
body.dark .devider.devider-dotted,
body.dark .devider.devider-dashed,
body.dark .devider.devider-db,
body.dark .devider.devider-db-dotted,
body.dark .devider.devider-db-dashed {
    border-color: #555;
}

/*Tag Box
------------------------------------*/
body.dark .tag-box {
    background: #202020;
}

body.dark .tag-box-v1,
body.dark .tag-box-v2 {
    border-color: #303030;
}

body.dark .tag-box-v3,
body.dark .tag-box-v4,
body.dark .tag-box-v5,
body.dark .tag-box-v6,
body.dark .tag-box-v7 {
    border-color: #303030;
}

/*Background Light
------------------------------------*/
body.dark .bg-light {
    border-color: #303030;
    background: #202020;
}

body.dark .bg-light i {
    color: #999;
}

body.dark .bg-grey {
    background: #222;
    border-top-color: #222;
    border-bottom-color: #222;
}

/*Blog Pages
------------------------------------*/
body.dark .blog h2 a {
    color: #ccc;
}

/*Blog Tags & Posts*/
body.dark .blog-post-tags {
    border-top-color: #303030;
    border-bottom-color: #303030;
}

body.dark .blog-post-tags li i {
    color: #999;
}

body.dark ul.blog-tags a,
body.dark .blog-post-tags ul.blog-tags a {
    color: #999;
    background: #292929;
}

/*quick fix added in v1.9*/
body.dark ul.blog-tags a:hover,
body.dark .blog-post-tags ul.blog-tags a:hover {
    color: #fff;
    /*background: #72c02c;*/
}

body.dark ul.blog-tags a i {
    color: #999;
}

/*Posts*/
body.dark .posts .dl-horizontal a {
    color: #999;
}

/*Blog Info*/
body.dark .blog-info li i {
    color: #999;
}

/*Media*/
body.dark .blog-item .media h4.media-heading {
    color: #ccc;
}

/*Blog v3
------------------------------------*/
body.dark .blog-v3 {
    background: #252525;
}

body.dark .blog-v3 .blog-v3-in {
    background: #333;
}

body.dark .blog-v3 h2 a {
    color: #ccc;
}

body.dark .blog-v3 h2 a:hover {
    color: #72c02c;
}

body.dark .blog-v3 .posted-info li,
body.dark .blog-v3 .posted-info li a {
    color: #999;
}

body.dark .blog-v3 .posted-info li a:hover {
    color: #72c02c;
}

/*Post Shares*/
body.dark .blog-v3 .post-shares li i {
    background: #bbb;
}

body.dark .blog-v3 .post-shares li i:hover {
    background: #ddd;
}

body.dark .blog-v3 .post-shares li span {
    border-color: #bbb;
}

/*Blog Authore
------------------------------------*/
body.dark .blog-author {
    background: #333;
}

/*Blog Comments
------------------------------------*/

body.dark .blog-comments .comments-itself {
    background: #333;
}

body.dark .blog-comments .comments-itself:before {
    border-color: transparent #333 transparent transparent;
}

body.dark .blog-comments .comments-itself span {
    color: #999;
}

body.dark .sky-form.comment-style fieldset {
    background: inherit;
}

/*Blog Latest Posts
------------------------------------*/
body.dark .blog-latest-posts li {
    border-top-color: #777;
}

body.dark .blog-latest-posts h3 a:hover {
    color: #72c02c;
}

/*Blog Trending
------------------------------------*/
body.dark .blog-trending h3 a:hover {
    color: #72c02c;
}

/*Blog Post Quote
------------------------------------*/
body.dark .blog-post-quote {
    background: #333;
}

body.dark .blog-post-quote p {
    color: #ccc;
}

body.dark .blog-post-quote span {
    color: #999;
}