#user_info {
	width: 510px;
	margin: 15px 20px;
	border: 1px solid #ebebeb;
	padding: 0px 0px 140px 20px;
	font-size: 16px;
	position: relative;
}

#user_info #description_container {
	position: relative;
}

#description_container #description {
	width: 400px;
	height: 100px;
	position: absolute;
	top: 4px;
	left: 80px;
	position: absolute;
}

#user_info #user_info_btn {
	padding: 6px;
	position: absolute;
	right: 24px;
	bottom: 2px;
}

#password_container {
	border: 1px solid #ebebeb;
	width: 490px;
	height: 140px;
	margin: 20px;
	padding:10px 20px;
	position: relative;
}

#password_container .password_text {
	width: 200px;
	height: 24px;
	padding: 0px 2px;
}

#password_container #password_btn {
	padding:6px;
	position: absolute;
	right: 24px;
	bottom: 2px;
}

#avatar_container {
	width: 400px;
	height: 320px;
	border: 1px solid #ebebeb;
	padding: 2px;
	position: absolute;
	top: 0px;
	right: 22px;
	position: absolute;
}

#avatar_container #avatar {
	display: inline-block;
	width: 200px;
	height: 200px;
}

#user_info2 {
	margin: 15px 20px;
	padding: 4px;
	height: 60px;
	border: 1px solid #ebebeb;
	font-size: 16px;
	position: relative;
}

#user_info2 #user_care_container {
	position: absolute;
	top: 10px;
	right: 20px;
}

#user_info2 #avatar2 {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
}

#user_info2 #nickname2 {
	display: inline-block;
	padding: 0px 2px;
	margin: 4px 0 0 70px;
}

#user_info2 #description2 {
	width: 500px;
	padding: 2px;
	margin: 0px 0px 0px 70px;
}

#blogs_before {
	width: 777px;
	height: 30px;
	line-height: 30px;
	margin: 32px 0 0 20px;
	padding-left: 6px;
	background: #92B7E9;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
}

#blog_container {
	width: 780px;
	margin-left: 20px;
}