<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Editor.md(http://pandao.github.io/editor.md/index.html)</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/js/editormd/css/editormd.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/editor.css}"/>
  </head>
  <body>
 	<!-- header部分开始 -->
	<div id="header">
		<div id="header_center">
			<a id="logo" th:href="${#mvc.url('BC#index').build()}" class="floatl">
				<img th:src="@{/resources/images/logo.png}"/></a>
			<div id="navigation" class="floatl">
				<ul>
					<li><a href="#">新闻</a></li>
					<li><a href="#">音乐</a></li>
					<li><a href="#">图片</a></li>
					<li><a href="#">博客</a></li>
					<li><a href="#">插件</a></li>
					<li class="clearf"></li>
				</ul>
			</div>
			<div id="user" th:if="${session.loginUser != null}" class="floatr">
				<input id="user_id" type="hidden" th:attr="data-id = ${session.loginUser.id}"/>
				<i></i>
				<img id="avatar" th:src="'/blog/resources/images/avatars/'+${session.loginUser.avatar}" style="width:30px;height:30px;"/>
				<a class="nickname" style="display:none;" id="user_name" th:text="${session.loginUser.nickname}"></a>
				<ul id="user_list">
					<li>
						<a th:href="${#mvc.url('UC#show').arg(3, session.loginUser.id).build()}" target="_blank">个人中心</a></li>
					<li>
						<a th:href="${#mvc.url('UC#logout').arg(0, session.loginUser.id).build()}">退出</a></li>
				</ul>
			</div>
			<div id="user" th:if="${session.loginUser == null}" class="floatr">
				<a id="login" th:href="@{/users/login}">登录</a>/
				<a id="register" th:href="@{/users/register}">注册</a>
			</div>
			<div id="publish" class="floatr">
				<i></i>
				<a th:text="发表" th:href="@{/blogs/publish}"></a>
			</div>
			<form id="search" action="" method="get" class="floatr">
				<i></i>
				<input type="text" name="" id="search_txt" placeholder="输入关键字搜索"/>
			</form>
			<div class="clearf"></div>			
		</div>
	</div>
	<!-- header部分结束 -->
	
	
	<!-- body部分开始 -->
	<div id="body">
		<form th:action="@{/blogs/publish}" method="post">
			<input type="text" name="userId"/>
			<p>标题</p>
			<input type="text" id="title" name="title"/>
			<p>标签，多个标签之间用分号隔开</p>
			<input type="text" id="tags"/>
			<div id="editor_container">
				<textarea id="content" name="content"></textarea>
			</div>
			<input type="submit" onclick="editor_publish(this)"/>
		</form>
		<span id="html">html</span>
		<span id="md">markdown</span>
	</div>
	<!-- body部分结束-->
	
	<!-- footer部分开始 -->
	<div id="footer">
		<p>Copyright &copy; 2016 by wuchao &nbsp;&nbsp;
			<span><a style="color:#337ab7" th:href="@{/admins/adminLogin}">管理员登录入口</a></span></p>
	</div>
	<!-- footer部分结束 -->
	
	<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/scrolltotop.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/base.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/blog.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/editormd/editormd.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/editormd/languages/en.js}"></script><!-- English -->
	<script type="text/javascript" th:src="@{/resources/js/editor.js}"></script>
 	<script type="text/javascript" th:inline="javascript"></script>
  </body>
</html>
