<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Home | Lets Talk Bitcoin</title>
    <meta name="adbit-site-verification" content="b7fd9570539d9ebe120c974cfc7a943cc4d5fc1578da5a11bba84385783ea8a1"/>

    <meta name="description"
          content="The LTB Network provides a tokenized platform for podcasts, articles, and forums about the ideas, people, and projects building the new digital economy and the future of money.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, user-scalable=1">

    <!-- css -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <!--<link rel="stylesheet" href="https://letstalkbitcoin.com/themes/ltb3/css/legacy.css">-->
    <link rel="stylesheet" href="/bower_components/jquery.fancybox-1.3/fancybox/jquery.fancybox-1.3.4.css">
    <link rel="stylesheet" href="/css/mobile-tables.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- scripts -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/jquery-cycle2/build/jquery.cycle2.js"></script>
    <script src="/js/migrate.js"></script>
    <script src="/bower_components/jquery.fancybox-1.3/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="/js/base64.js"></script>
    <script src="/bower_components/jPlayer/dist/jplayer/jquery.jplayer.js"></script>
    <script src="/bower_components/jPlayer/dist/add-on/jplayer.playlist.js"></script>
    <script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="/js/mobile-tables.js"></script>
    <script src="/js/menu.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.sc = '7801c7a5dcce2c1f33d66c82d867f1d6';
            window.userLogged = false;
            window.siteURL = 'https://letstalkbitcoin.com';

            window.headerMedia = [{
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka\" title=\"The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas Shelpin.com And Anthony Conrad HolaLuka\" target=\"_blank\">The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas Shelpin.com And Anthony Conrad HolaLuka<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/366322964\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2390-41e2471cb61a66c68c712d1f91c727dca49501911cc32a3108fdbe2f5e8a69e9.jpg",
                "date": "7TH DECEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/epicenter-212-adam-perlow-asher-manning-zen-protocol-a-decentralized-financial-system\" title=\"#212 Adam Perlow & Asher Manning: Zen Protocol - A Decentralized Financial System\" target=\"_blank\">#212 Adam Perlow & Asher Manning: Zen Protocol - A Decentralized Financial System<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/epicenter-212-adam-perlow-asher-manning-zen-protocol-a-decentralized-financial-system",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/365843090\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2388-36a3cee17c1eb7810c8ac504075c411502ff1ad3a46bbfae40c72e9b6f0f38d4.jpg",
                "date": "6TH DECEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-at-labitconf-in-bogata-with-dash-caracas-brazil-columbia-and-acapulco-on-board\" title=\"The Crypto Show At LaBitConf In Bogota With Dash Caracas, Brazil, Colombia And Acapulco On Board \" target=\"_blank\">The Crypto Show At LaBitConf In Bogota With Dash Caracas, Brazil, Colombia And Acapulco On Board <\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-at-labitconf-in-bogata-with-dash-caracas-brazil-columbia-and-acapulco-on-board",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/364685879\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2386-afc5a28385619a5dc4a125029af3dee57887305a930acfb4441d12caebec5acf.jpg",
                "date": "3RD DECEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-live-from-mexico-city-with-jose-rodriguez-of-bitso\" title=\"The Crypto Show Live From Mexico City With Jose Rodriguez Of Bitso\" target=\"_blank\">The Crypto Show Live From Mexico City With Jose Rodriguez Of Bitso<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-live-from-mexico-city-with-jose-rodriguez-of-bitso",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/363269411\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2384-8de1ceb26e39bb438c972769d3c275621a4bbe486add80df07c6cd1380ee48bf.jpg",
                "date": "30TH NOVEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/epicenter-211-zoe-adamovicz-neufund-and-the-case-for-selling-equity-on-the-blockchain\" title=\"#211 Zoe Adamovicz: Neufund and the Case for Selling Equity on the Blockchain\" target=\"_blank\">#211 Zoe Adamovicz: Neufund and the Case for Selling Equity on the Blockchain<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/epicenter-211-zoe-adamovicz-neufund-and-the-case-for-selling-equity-on-the-blockchain",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/362160734\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2383-f5a3f73683a331efed229dbce6f5ace02e6520e52353dedd834ca3d0ea20f0a8.jpg",
                "date": "28TH NOVEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-aaron-lasher-bread-wallet-gabriel-kurman-of-rsk-on-labitconf-2017\" title=\"The Crypto Show: Aaron Lasher, Bread Wallet & Gabriel Kurman Of RSK On LaBitConf 2017\" target=\"_blank\">The Crypto Show: Aaron Lasher, Bread Wallet & Gabriel Kurman Of RSK On LaBitConf 2017<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-aaron-lasher-bread-wallet-gabriel-kurman-of-rsk-on-labitconf-2017",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/361451165\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2379-10ac4d25c7e78409a1e67cd747e0778217a32715e4c76846fb123c77e29ce22f.jpg",
                "date": "26TH NOVEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-juan-galt-defending-bitcoin-vs-bitcoin-cash\" title=\"The Crypto Show: Juan Galt Defending Bitcoin Vs Bitcoin Cash \" target=\"_blank\">The Crypto Show: Juan Galt Defending Bitcoin Vs Bitcoin Cash <\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-juan-galt-defending-bitcoin-vs-bitcoin-cash",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/359735147\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2375-b9698f97c49843b14195e87b007da40d5a9dbfbdc89bdc60d9a40e2be9781cf9.jpg",
                "date": "22ND NOVEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/epicenter-210-alex-morcos-chaincode-labs-and-why-bitcoin-is-our-one-shot-at-creating-digital-gold\" title=\"#210 Alex Morcos: Chaincode Labs and Why Bitcoin is Our One Shot at Creating Digital Gold\" target=\"_blank\">#210 Alex Morcos: Chaincode Labs and Why Bitcoin is Our One Shot at Creating Digital Gold<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/epicenter-210-alex-morcos-chaincode-labs-and-why-bitcoin-is-our-one-shot-at-creating-digital-gold",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/359041769\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2374-8290accd3db10a7a42654c6ef187fdd7c1de15c5efba34856e4c2ad0ceb814fb.jpg",
                "date": "21ST NOVEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/the-third-web-2-quantifying-gaze\" title=\"The Third Web #2 - Quantifying Gaze\" target=\"_blank\">The Third Web #2 - Quantifying Gaze<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/the-third-web-2-quantifying-gaze",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/358713482\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": null,
                "date": "20TH NOVEMBER 2017"
            }, {
                "title": "<a href=\"https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-roger-ver-on-the-rise-of-bitcoin-cash\" title=\"The Crypto Show: Roger Ver On The Rise Of Bitcoin Cash\" target=\"_blank\">The Crypto Show: Roger Ver On The Rise Of Bitcoin Cash<\/a>",
                "url": "https:\/\/letstalkbitcoin.com\/blog\/post\/the-crypto-show-roger-ver-on-the-rise-of-bitcoin-cash",
                "stream": "https:\/\/api.soundcloud.com\/tracks\/358315613\/stream?client_id=7801c7a5dcce2c1f33d66c82d867f1d6",
                "image": "https:\/\/letstalkbitcoin.com\/files\/blogs\/2371-e04e8643083866a02e35be0d92e9a2808e4b7a7cc4155e8cec3ee91567763d2d.jpg",
                "date": "19TH NOVEMBER 2017"
            }];
        });
    </script>
    <script src="/js/scripts.js"></script>
    <script src="/js/player.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-22288117-8', 'letstalkbitcoin.com');
        ga('send', 'pageview');

    </script>
</head>
<body class="template-home ">
<div class="outer-wrap">
    <div class="slide-menuCont">
        <ul class="mobile-nav">
            <li class=" children"><a href="https://letstalkbitcoin.com/blog/category/ltb-network-shows" target="_blank">Podcasts</a>
                <ul class="sub">
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/episodes" target="_blank">Let's Talk
                        Bitcoin!</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/the-bitcoin-game" target="_blank">The
                        Bitcoin Game</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/epicenter" target="_blank">Epicenter
                        Bitcoin</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/safepodcast" target="_blank">SAFE
                        Crossroads</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/the-ether-review" target="_blank">The
                        Ether Review</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/the-crypto-show" target="_blank">The
                        Crypto Show</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/sovereignbtc" target="_blank">SovereignBTC</a>
                    </li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/the-startup" target="_blank">The
                        StartUp</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/blog/category/tatianaepisodes" target="_blank">The
                        Tatiana Moroz Show</a></li>
                    <li class=""><a
                            href="https://letstalkbitcoin.com/blog/category/bitcoins-and-gravy-ltb-network-shows"
                            target="_blank">Bitcoins and Gravy</a></li>
                </ul>
            </li>
            <li class=""><a href="https://letstalkbitcoin.com/ltbcoin-to-poe-exchange">Swap LTBCOIN for POET</a></li>
            <li class=" children"><a href="https://letstalkbitcoin.com/about-ltbcoin">History</a>
                <ul class="sub">
                    <li class=""><a href="https://letstalkbitcoin.com/dashboard/blog/magic-words" target="_blank">Magic
                        Words</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/about-ltbcoin">About LTBCoin</a></li>
                    <li class=""><a href="http://pockets.tokenly.com" target="_blank">Wallet</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/ltbcoin-stats">Rewards Stats</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/trade-ltbcoin">Exchanges</a></li>
                    <li class=""><a href="http://blockscan.com/assetInfo.aspx?q=LTBCOIN" target="_blank">Block
                        Explorer</a></li>
                </ul>
            </li>
            <li class=" children"><a href="https://letstalkbitcoin.com/forum">Forums</a>
                <ul class="sub">
                    <li class=""><a href="https://letstalkbitcoin.com/forum/board/all">Recent Posts</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/forum/board/general">General</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/forum/board/ltbcoin-talk">LTBcoin Talk</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/forum/board/listener-lounge">Listener Lounge</a>
                    </li>
                    <li class=""><a href="https://letstalkbitcoin.com/forum/board/market">The Content Market</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/forum/board/metacoin-central">Metacoin Central</a>
                    </li>
                    <li class=""><a href="https://letstalkbitcoin.com/forum">View All Boards...</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/token-societies">Create TCA Forum</a></li>
                </ul>
            </li>
            <li class=" children"><a href="https://letstalkbitcoin.com/about-us">About</a>
                <ul class="sub">
                    <li class=""><a href="https://letstalkbitcoin.com/about-us">The LTB Network</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/profile/members">Community Directory</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/submissions">Submissions</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/advertise">LTB Network Services</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/advertising-policy">Advertising Policy</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/site-news">Site News</a></li>
                    <li class=""><a href="https://letstalkbitcoin.com/contact-us">Contact Us</a></li>
                </ul>
            </li>
            <li class=""><a href="https://letstalkbitcoin.com/rss">RSS</a></li>
        </ul>
    </div>
    <div class="wrap">
        <div class="roof">
            <div class="pull-right header-social">
                <p>
                    <a href="https://twitter.com/TheLTBNetwork" title="Twitter" target="_blank"><img
                            src="/images/twitter.png" alt=""></a>
                    <a href="https://www.facebook.com/theltbnetwork" title="Facebook" target="_blank"><img
                            src="/images/facebook.png" alt=""></a>
                    <a href="http://www.youtube.com/user/LetsTalkBitcoinChan/videos" title="YouTube"
                       target="_blank"><img src="/images/youtube.png" alt=""></a>
                    <a href="https://www.reddit.com/r/letstalkbitcoin" target="_blank" title="Reddit"><img
                            src="/images/reddit.png" alt=""></a>
                    <a href="https://soundcloud.com/mindtomatter" target="_blank" title="Soundcloud"><img
                            src="/images/soundcloud.png" alt=""></a>
                </p></div>
        </div><!-- roof -->
        <div class="container">
            <div class="main">
                <header>
                    <div class="header-top">
                        <div class="logo">
                            <a href="/" title="The Let's Talk Bitcoin! Network"
                               alt="LTB Network"><img src="/images/logo.jpg" alt=""/></a>
                        </div><!-- logo -->
                        <div class="header-menu">
                            <a href="#" class="mobile-pull">
                                <i class="fa fa-chevron-circle-left"></i> Menu
                            </a>
                            <div class="menu-top">
                                <div class="pull-left header-links">

                                </div><!-- account-links -->
                                <div class="pull-right account-links">

                                    <a href="https://letstalkbitcoin.com/account"><i class="fa fa-user"></i>
                                        Login/Register</a>
                                </div><!-- header-links -->
                            </div><!-- menu-top -->
                            <div class="main-menu">
                                <ul class="nav">
                                    <li class=" children"><a
                                            href="https://letstalkbitcoin.com/blog/category/ltb-network-shows"
                                            target="_blank">Podcasts</a>
                                        <ul class="sub">
                                            <li class=""><a href="https://letstalkbitcoin.com/blog/category/episodes"
                                                            target="_blank">Let's Talk Bitcoin!</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/blog/category/the-bitcoin-game"
                                                    target="_blank">The Bitcoin Game</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/blog/category/epicenter"
                                                            target="_blank">Epicenter Bitcoin</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/blog/category/safepodcast"
                                                            target="_blank">SAFE Crossroads</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/blog/category/the-ether-review"
                                                    target="_blank">The Ether Review</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/blog/category/the-crypto-show"
                                                    target="_blank">The Crypto Show</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/blog/category/sovereignbtc"
                                                    target="_blank">SovereignBTC</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/blog/category/the-startup"
                                                            target="_blank">The StartUp</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/blog/category/tatianaepisodes"
                                                    target="_blank">The Tatiana Moroz Show</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/blog/category/bitcoins-and-gravy-ltb-network-shows"
                                                    target="_blank">Bitcoins and Gravy</a></li>
                                        </ul>
                                    </li>
                                    <li class=""><a href="https://letstalkbitcoin.com/ltbcoin-to-poe-exchange">Swap
                                        LTBCOIN for POET</a></li>
                                    <li class=" children"><a
                                            href="https://letstalkbitcoin.com/about-ltbcoin">History</a>
                                        <ul class="sub">
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/dashboard/blog/magic-words"
                                                    target="_blank">Magic Words</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/about-ltbcoin">About
                                                LTBCoin</a></li>
                                            <li class=""><a href="http://pockets.tokenly.com" target="_blank">Wallet</a>
                                            </li>
                                            <li class=""><a href="https://letstalkbitcoin.com/ltbcoin-stats">Rewards
                                                Stats</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/trade-ltbcoin">Exchanges</a></li>
                                            <li class=""><a href="http://blockscan.com/assetInfo.aspx?q=LTBCOIN"
                                                            target="_blank">Block Explorer</a></li>
                                        </ul>
                                    </li>
                                    <li class=" children"><a href="https://letstalkbitcoin.com/forum">Forums</a>
                                        <ul class="sub">
                                            <li class=""><a href="https://letstalkbitcoin.com/forum/board/all">Recent
                                                Posts</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/forum/board/general">General</a>
                                            </li>
                                            <li class=""><a href="https://letstalkbitcoin.com/forum/board/ltbcoin-talk">LTBcoin
                                                Talk</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/forum/board/listener-lounge">Listener
                                                Lounge</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/forum/board/market">The
                                                Content Market</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/forum/board/metacoin-central">Metacoin
                                                Central</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/forum">View All
                                                Boards...</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/token-societies">Create
                                                TCA Forum</a></li>
                                        </ul>
                                    </li>
                                    <li class=" children"><a href="https://letstalkbitcoin.com/about-us">About</a>
                                        <ul class="sub">
                                            <li class=""><a href="https://letstalkbitcoin.com/about-us">The LTB
                                                Network</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/profile/members">Community
                                                Directory</a></li>
                                            <li class=""><a
                                                    href="https://letstalkbitcoin.com/submissions">Submissions</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/advertise">LTB Network
                                                Services</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/advertising-policy">Advertising
                                                Policy</a></li>
                                            <li class=""><a href="https://letstalkbitcoin.com/site-news">Site News</a>
                                            </li>
                                            <li class=""><a href="https://letstalkbitcoin.com/contact-us">Contact Us</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=""><a href="https://letstalkbitcoin.com/rss">RSS</a></li>
                                </ul>
                            </div><!-- main-menu -->
                        </div><!-- header-menu -->
                    </div><!-- header-top -->
                    <div class="header-bottom">
                        <span class="logo-caret"></span>
                        <div class="header-actions pull-right">

                            <ul class="header-actions-menu">
                                <li><a href="#" class="list-switch active" data-switch="list" title="List view"><i
                                        class="fa fa-bars"></i></a></li>
                                <li><a href="#" class="list-switch " data-switch="grid" title="Grid view"><i
                                        class="fa fa-th"></i></a></li>
                            </ul><!-- header-actions-menu -->
                        </div>
                        <div class="sub-header-links">
                            <ul class="sub-header-menu nav">
                                <li class="children">
                                    <a>Sort By</a>
                                    <ul class="sub">
                                        <li><a href="?sort=new">Newest</a></li>
                                        <li><a href="?sort=old">Oldest</a></li>
                                        <li><a href="?sort=top">Top</a></li>
                                    </ul>
                                </li>
                            </ul><!-- sub-header-menu -->
                        </div><!-- sub-header-links -->
                    </div><!-- header-bottom -->
                </header>
                <div class="content">
                    <div class="home-content">
                        <div class="ad large-banner center"></div> <!-- first ad -->
                        <div class="clear"></div>
                        <div class="blog-list-cont">
                            <!-- List view -->
                            <ul class="blog-list list" style="">
                                <li>
                                    <div class="blog-extra">
                                        <div class="blog-image"><a
                                                href="https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"><img
                                                src="https://letstalkbitcoin.com/files/blogs/2390-41e2471cb61a66c68c712d1f91c727dca49501911cc32a3108fdbe2f5e8a69e9.jpg"
                                                alt=""/></a></div>
                                        <div class="blog-tipping">
                                            <a href="#2390-btc-tip" class="fancy" target="_blank"><i class="fa fa-btc"
                                                                                                     title="Tip this post"></i></a>
                                            <span class="companion-tip-button pockets-payment-button" data-color="icon"
                                                  data-address="139R6K7fxTYaFf2aXTid84Le1ayqMVvSCq"
                                                  data-label="TheCryptoShow <br> (The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas Shelpin.com And Anthony Conrad HolaLuka)"
                                                  data-tokens="all"></span>
                                            <div id="2390-btc-tip" style="display: none;">
                                                <div class="text-center">
                                                    <h3><a href="bitcoin:139R6K7fxTYaFf2aXTid84Le1ayqMVvSCq">Tip
                                                        TheCryptoShow</a></h3>
                                                    <h4>139R6K7fxTYaFf2aXTid84Le1ayqMVvSCq</h4>
                                                    <h5>
                                                        <a href="https://xchain.io/address/139R6K7fxTYaFf2aXTid84Le1ayqMVvSCq"
                                                           target="_blank">(xchain.io)</a></h5>
                                                    <p>
                                                        <img src="https://letstalkbitcoin.com/qr.php?q=139R6K7fxTYaFf2aXTid84Le1ayqMVvSCq"
                                                             alt=""/>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="blog-social">
                                            <a href="http://www.reddit.com/submit?url=https://letstalkbitcoin.com/blog/post/https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"
                                               target="_blank"><img
                                                    src="/images/reddit-black.png"
                                                    title="Post on Reddit"/></a>
                                            <a href="http://www.facebook.com/sharer.php?u=https://letstalkbitcoin.com/blog/post/https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"
                                               target="_blank"><img
                                                    src="/images/facebook-black.png"
                                                    title="Share this Post"/></a>
                                            <a href="http://twitter.com/share?text=The+Crypto+Show%3A+LaBitConf+Brock+Pierce%2C+Griff+Green+Giveth.io%2C+Alex+Casas+Shelpin.com+And+Anthony+Conrad+HolaLuka&url=https://letstalkbitcoin.com/blog/post/https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"
                                               target="_blank"><img
                                                    src="/images/twitter-black.png"
                                                    title="Tweet this Post"/></a>
                                            <a href="https://plus.google.com/share?url=https://letstalkbitcoin.com/blog/post/https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"
                                               target="_blank"><img
                                                    src="/images/gplus-black.png"
                                                    title="+1 this Post"/></a>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="blog-commentCount">
                                            <a href="https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka#disqus_thread"><i
                                                    class="fa fa-comments"></i> 1 Comment</a><br>
                                            <span><i class="fa fa-eye"></i> 1,011 views</span>
                                        </div>
                                        <div class="blog-cats">
                                            Categories: <span><a
                                                href="https://letstalkbitcoin.com/blog/category/the-crypto-show">The Crypto Show</a></span>
                                        </div>
                                    </div>
                                    <div class="blog-list-info">
                                        <h2 class="post-title"><a
                                                href="https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka">The
                                            Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas
                                            Shelpin.com And Anthony Conrad HolaLuka</a></h2>
                                        <div class="blog-date">
                                            December 7th, 2017 by
                                            <a href="https://letstalkbitcoin.com/profile/user/thecryptoshow"><span
                                                    class="mini-avatar inline"><img
                                                    src="https://letstalkbitcoin.com/files/avatars/327cc57b1d1f5963d5869cffd35eb3d6.jpg"
                                                    alt=""/></span> TheCryptoShow</a></div>
                                        <div class="blog-excerpt">
                                            <p>While visiting the LaBitConf in Bogota Colombia I got to sit down some
                                                pretty interesting folks in the Bitcoin space. After talking with Brock
                                                I decided to follow up with the same altruistic theme and talk to some
                                                of the nominee's of the &quot;Blockchain 4 Humanity Award&quot; that was
                                                the closing ceremony of the Latin American Bitcoin Conference.
                                                Definitely check out Griff Green's project Giveth.io , Alex Casas with
                                                Shelpin.com and Anthony Conrad at @HolaLuka</p>
                                            <p><strong>Sponsored by:</strong> [Dash](<a href="http://Dash.or">http://Dash.or</a>...
                                            </p>                <a
                                                href="https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"
                                                class="blog-more">Read More <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div><!-- blog-list-info -->
                                    <div class="clear"></div>
                                </li>
                            </ul>

                            <!-- Grid view -->
                            <ul class="blog-list grid home-posts" style="display: none;">
                                <li>
                                    <a href="https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"
                                       class="blog-link"
                                       title="The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas Shelpin.com And Anthony Conrad HolaLuka"></a>
                                    <div class="blog-image">
                                        <img src="https://letstalkbitcoin.com/files/blogs/2390-41e2471cb61a66c68c712d1f91c727dca49501911cc32a3108fdbe2f5e8a69e9.jpg"
                                             alt=""/>
                                    </div><!-- blog-image -->
                                    <div class="blog-date">
                                        <span>December 07, 2017</span>
                                    </div><!-- blog-date -->
                                    <div class="blog-title">
                                        <span>The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas Shelpin.com And Anthony Conrad...</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div><!-- blog-list-cont -->
                        <p class="pull-right view-more">
                            <a href="https://letstalkbitcoin.com/blog?page=2">View More <i
                                    class="fa fa-chevron-right"></i></a>
                        </p>
                        <div class="clear"></div>
                        <div class="ad large-banner center"></div> <!-- second ad -->
                        <div class="clear"></div>
                    </div><!-- home-content -->
                </div><!-- content -->
            </div><!-- main -->
            <div class="sidebar">
                <div class="top-featured media-player-cont">
                    <div class="media-player-holder"></div>
                    <div class="featured-wrap">
                        <div class="current-featured media-player">
                            <div class="featured-player">
                                <div class="player-overlay">
                                    <div class="player-controls">
                                        <span class="backward prev" title="Previous"><i
                                                class="fa fa-backward"></i></span>
                                        <span class="play-pause pause jp-pause" style="display: none;" title="Pause"><i
                                                class="fa fa-pause"></i></span>
                                        <span class="play-pause play jp-play" title="Play"><i
                                                class="fa fa-play"></i></span>
                                        <span class="forward next" title="Next"><i class="fa fa-forward"></i></span>
                                        <div class="player-pop">
                                            <span title="Pop out media player" class="pop-out"><i
                                                    class="fa fa-caret-square-o-up"></i></span>
                                        </div>
                                    </div>
                                </div><!-- player-overlay -->
                                <div class="featured-image">
                                    <img src="https://letstalkbitcoin.com/files/blogs/2390-41e2471cb61a66c68c712d1f91c727dca49501911cc32a3108fdbe2f5e8a69e9.jpg"
                                         alt=""/></div><!-- featured-image -->
                            </div><!-- featured-player -->
                            <div class="featured-content">
                                <h2>On Today's Show</h2>
                                <div class="featured-title track-title">
                                    <p class="track">
                                        <a href="https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka"
                                           title="The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas Shelpin.com And Anthony Conrad HolaLuka"
                                           target="_blank">The Crypto Show: LaBitConf Brock Pierce, Griff Green
                                            Giveth.io, Alex Casas Shelpin.com And Anthony Conrad HolaLuka</a></p>
                                </div><!-- featured-title -->
                                <div class="featured-date">
                                    <a href="#" class="pop-out-player" title="Pop out audio player"></a>
                                    <span>
											7TH DECEMBER 2017										</span>
                                </div><!-- featured-date -->
                            </div><!-- featured-content -->
                        </div><!-- current-featured -->
                    </div><!-- featured-wrap -->
                </div><!-- top-featured -->
                <div class="featured-menu-cont">
                    <ul class="featured-menu">
                        <li><a href="https://feeds.feedburner.com/TheDailyBitcoinShow"
                               title="Subscribe to the LTBN RSS Feed" target="_blank">Subscribe <i
                                class="fa fa-rss"></i></a></li>
                        <li><a href="/blog/category/ltb-network-shows" title="Listen to the latest podcast episodes">Episodes
                            <i class="fa fa-volume-up"></i></a></li>
                    </ul>
                </div><!-- featured-menu-cont -->
                <div class="sidebar-content">
                    <div class="sidebar-inner-content">
                        <div style="margin-bottom: 20px;">

                            <div style="margin-bottom: 20px;">
                            </div>
                        </div>
                        <div class="search-cont pull-right">
                            <a href="#" class="search-icon" title="Search website"><i class="fa fa-search"></i></a>
                        </div><!-- search-cont -->
                        <h2>LTB Community <span>Recent Posts</span></h2>
                        <div class="clear"></div>
                        <ul class="recent-posts">
                            <li>
                                <div class="post-title">
                                    <span class="post-date" title="December 9th, 2017 at 02:11 am">18h</span>
                                    <a href="https://disqus.com/by/matthewchowhk/" class="user-link"><span
                                            class="mini-avatar"><img
                                            src="https://disqus.com/api/users/avatars/matthewchowhk.jpg" alt=""/></span><span
                                            class="user-name">Matthew Chow Hk</span></a>
                                </div>
                                <div class="post-content">
                                    <p>
                                        A real eye opener. This is an interesting future Stan. Thanks for the share. Do
                                        you have a regular blog? </p>
                                    <div class="post-thread-title">
                                        <a href="http://letstalkbitcoin.com/bitcoin-and-the-three-laws-of-robotics#comment-3653969786"
                                           title="Bitcoin and the Three Laws of Robotics" class="view-post">
                                            <span class="pull-right text-right">View Thread <i
                                                    class="fa fa-mail-forward"></i></span>
                                        </a>
                                        <strong>Bitcoin and the Three Laws of Robotics</strong>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="post-title">
                                    <span class="post-date" title="December 8th, 2017 at 22:58 pm">21h</span>
                                    <a href="" class="user-link"><span class="mini-avatar"><img
                                            src="//a.disquscdn.com/1510956940/images/noavatar92.png"
                                            alt=""/></span><span class="user-name">ancap</span></a>
                                </div>
                                <div class="post-content">
                                    <p>
                                        It's misleading to say &quot;the Bitcoin space&quot; and then get have
                                        non-Bitcoin topics in there. I don't mind to get triggered by an occasional alt,
                                        but having interviews about off-topic stuff is too much. Either put it in the
                                        summary so that we c... </p>
                                    <div class="post-thread-title">
                                        <a href="https://letstalkbitcoin.com/blog/post/the-crypto-show-labitconf-brock-pierce-griff-green-givethio-alex-casas-shelpincom-and-anthony-conrad-holaluka#comment-3653870563"
                                           title="The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex Casas Shelpin.com And Anthony Conrad HolaLuka"
                                           class="view-post">
                                            <span class="pull-right text-right">View Thread <i
                                                    class="fa fa-mail-forward"></i></span>
                                        </a>
                                        <strong>The Crypto Show: LaBitConf Brock Pierce, Griff Green Giveth.io, Alex
                                            Casas Shelpin.com And Anthony Conrad HolaLuka</strong>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="post-title">
                                    <span class="post-date" title="December 8th, 2017 at 12:55 pm">1d</span>
                                    <a href="https://letstalkbitcoin.com/profile/user/andref" class="user-link"><span
                                            class="mini-avatar"><img
                                            src="https://letstalkbitcoin.com/files/avatars/0197027406a2eba3c1e28581cb845a2d.jpg"
                                            alt=""/></span><span class="user-name">andref</span></a>
                                </div>
                                <div class="post-content">
                                    <p>
                                        Altcoins are getting sold aggressively for BTC. Since last Thursday BTC/USD
                                        gained over 60 percent while ETH/BTC dropped by close to 45 percent. Now both
                                        ETH and Dash are in a bear market versus BTC.
                                        ETH/BTC Drops by 45 Percent
                                        Ether has lost almost ... </p>
                                    <div class="post-thread-title">
                                        <a href="https://letstalkbitcoin.com/forum/post/cryptocurrency-analytics-from-fxopen08-12-2017#post-0"
                                           title="Cryptocurrency Analytics from FXOpen.08/12/2017" class="view-post">
                                            <span class="pull-right text-right">View Thread <i
                                                    class="fa fa-mail-forward"></i></span>
                                        </a>
                                        <strong>Cryptocurrency Analytics from FXOpen.08/12/2017</strong>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="post-title">
                                    <span class="post-date" title="December 7th, 2017 at 08:57 am">2d</span>
                                    <a href="https://disqus.com/by/bruno_cavalleri/" class="user-link"><span
                                            class="mini-avatar"><img
                                            src="https://disqus.com/api/users/avatars/bruno_cavalleri.jpg"
                                            alt=""/></span><span class="user-name">Bruno Cavalleri</span></a>
                                </div>
                                <div class="post-content">
                                    <p>
                                        Wow! This identity idea looks like Black Mirror's Nosedive episode. &quot;[...]
                                        You can require for somebody to befriend or follow you [...]&quot;, &quot;[...]
                                        I'm not going befriend someone whom hasn't pledged bitcoin [...]&quot; </p>
                                    <div class="post-thread-title">
                                        <a href="http://letstalkbitcoin.com/e04-the-horrible-warnings#comment-3651196002"
                                           title="E04 - The Horrible Warnings" class="view-post">
                                            <span class="pull-right text-right">View Thread <i
                                                    class="fa fa-mail-forward"></i></span>
                                        </a>
                                        <strong>E04 - The Horrible Warnings</strong>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="post-title">
                                    <span class="post-date" title="December 6th, 2017 at 11:21 am">3d</span>
                                    <a href="https://letstalkbitcoin.com/profile/user/andref" class="user-link"><span
                                            class="mini-avatar"><img
                                            src="https://letstalkbitcoin.com/files/avatars/0197027406a2eba3c1e28581cb845a2d.jpg"
                                            alt=""/></span><span class="user-name">andref</span></a>
                                </div>
                                <div class="post-content">
                                    <p>
                                        The Great Britain Pound (GBP) inched lower against the US Dollar (USD) on
                                        Wednesday, decreasing the price of GBPUSD to less than 1.3450 following some key
                                        economic events. The technical bias remains bullish because of a higher low in
                                        the recent downs... </p>
                                    <div class="post-thread-title">
                                        <a href="https://letstalkbitcoin.com/forum/post/forex-analytics-06-12-17#post-0"
                                           title="Forex Analytics 06/12/17" class="view-post">
                                            <span class="pull-right text-right">View Thread <i
                                                    class="fa fa-mail-forward"></i></span>
                                        </a>
                                        <strong>Forex Analytics 06/12/17</strong>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="post-title">
                                    <span class="post-date" title="December 6th, 2017 at 11:16 am">3d</span>
                                    <a href="https://letstalkbitcoin.com/profile/user/andref" class="user-link"><span
                                            class="mini-avatar"><img
                                            src="https://letstalkbitcoin.com/files/avatars/0197027406a2eba3c1e28581cb845a2d.jpg"
                                            alt=""/></span><span class="user-name">andref</span></a>
                                </div>
                                <div class="post-content">
                                    <p>
                                        Both of the cryptos we follow on Tuesdays have hit new all-time highs. Bitcoin
                                        peaked at $11,950 dollars today while LTC/USD topped out at $105.30 two days
                                        ago.
                                        Bitcoin Clears $10,000 Dollars
                                        After fighting with the $10,000 level for a few days BTC f... </p>
                                    <div class="post-thread-title">
                                        <a href="https://letstalkbitcoin.com/forum/post/cryptocurrency-analytics-from-fxopen05-12-2017#post-0"
                                           title="Cryptocurrency Analytics from FXOpen.05/12/2017" class="view-post">
                                            <span class="pull-right text-right">View Thread <i
                                                    class="fa fa-mail-forward"></i></span>
                                        </a>
                                        <strong>Cryptocurrency Analytics from FXOpen.05/12/2017</strong>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </li>
                        </ul><!-- recent-posts -->
                        <div class="clear"></div>
                        <div class="text-right">
                            <a href="https://letstalkbitcoin.com/forum/board/all" class="enter-forum">Enter
                                <span>Forums</span></a>
                        </div>
                    </div><!-- sidebar-inner-content -->
                </div><!-- sidebar-content -->
            </div><!-- sidebar -->
            <div class="clear"></div>
        </div><!-- container -->
        <footer>
            <div class="tagline pull-right">
                <p>© Copyright 2013–2016 The LTB Network. All rights reserved <a
                        href="https://github.com/tokenly/tokenly-cms"><i class="fa fa-github-alt"></i></a>. </p></div>
            <!-- tagline -->
        </footer>
    </div><!-- wrap -->
</div><!-- outer-wrap -->
</body>
</html><!--"Generation time: 0.3976 Seconds
 - Total Queries: 175 (0.28486275672913)-->

<!-- https://letstalkbitcoin.com/ -->