<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>AHPUT高校论坛首页</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/posts.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/paging.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/editor.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/js/weditor/css/wangEditor.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/topic.css}"/>
    <style>
	    body {
			padding: 0px;
			margin: 0px;
			background: #F0F0F0;
			font-family: "微软雅黑";
			font-size: 12px;
		}
    </style>
  </head>
  <body>
  	<div id="all">
	 	<!-- header部分开始 -->
		<div id="header">
			<div id="logo">
				<a th:href="@{/posts/index}"><img th:src="@{/resources/images/logo.png}"/></a>
			</div>
			<div id="navigation">
				<ul>
					<li id="user" th:if="${session.loginUser != null}">
						<input id="user_id" type="hidden" th:attr="data-id = ${session.loginUser.id}"/>
						<a class="nickname" id="user_name" th:text="${session.loginUser.nickname}"></a>
						<ul id="user_list">
							<li>
								<a th:href="${#mvc.url('UC#show').arg(3, session.loginUser.id).build()}" target="_blank">个人中心</a></li>
							<li>
								<a th:href="${#mvc.url('UC#logout').arg(0, session.loginUser.id).build()}">退出</a></li>
						</ul>
					</li>
					<li th:if="${session.loginUser == null}">
						<a class="table" th:href="@{/users/login}">登录</a>
					</li>
					<li th:if="${session.loginUser != null}"><a class="table" th:href="${#mvc.url('UC#careUsers').arg(3, session.loginUser.id).build()}">关注的人</a></li>
					<li th:if="${session.loginUser != null}"><a class="table" th:href="${#mvc.url('UC#collects').arg(3, session.loginUser.id).build()}">我的收藏</a></li>
					<li th:if="${session.loginUser != null}"><a class="table" th:href="${#mvc.url('UC#posts').arg(3, session.loginUser.id).build()}">我的发帖</a></li>
					<li><a class="table" th:href="@{/posts/index}">首页</a></li>
				</ul>
			</div>
		</div>
		<!-- header部分结束 -->
		
		<form id="search" th:action="@{/posts/search}" method="get">
			<input type="text" id="search_input" name="title" placeholder="请输入搜索内容"/>
			<input type="submit" id="search_icon" th:attr="style='background:url('+@{/images/search.png}+') no-repeat'" value=""/>
		</form>
		
		<!-- body部分开始 -->
		<div id="body">
			<div id="content_wrap">
				<div id="post_container">
					<ul id="posts">
						<li class="post" th:each="post : ${postPage}">
							<div class="post_header">
								<a th:href="${#mvc.url('BC#show').arg(0, post.id).build()}" style='color:#F2934A'>
									【<span class="post_topic" th:text="${post.getTopicTypeByKey()}">话题</span>】
									<span class="post_title" style="color:#222" th:utext="${post.title}">标题</span></a>&nbsp;
							</div>
							<div class="post_body" th:utext="${post.content}">内容</div>
							<div class="post_footer">
								<!-- 时间 -->
								<i th:attr="style='background:url('+@{/images/post_time.png}+') no-repeat'"></i>
								<span class="post_time" th:text="${#dates.format(post.createTime,'yyyy-MM-dd HH:mm')}">发表时间</span>&nbsp;&nbsp;
								<!-- 浏览次数 -->
								<i th:attr="style='background:url('+@{/images/post_view_times.png}+') no-repeat'"></i>
								<span th:text="${post.viewedTimes}">浏览次数</span>&nbsp;&nbsp;
								<!-- 删除 -->
								<span class="post_delete" th:if="${session.loginUser != null and session.loginUser.id == post.user.id}">
									<a th:attr="data-id=${post.id}" th:text="删除" onclick="deletePost(this)">删除</a>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<!-- 分页 -->
				<div id="paging" th:if="${totalPages >= 2}">
					<a th:href="${#mvc.url('UC#posts').arg(0, 0).arg(2, 0).arg(3, session.loginUser.id).build()}">首页</a>
					<a th:if="${prePage - 1 >= 0}" th:href="${#mvc.url('UC#posts').arg(0, firstResult).arg(1, prePage).arg(2, prePage - 1).arg(3, session.loginUser.id).build()}">上一页</a>
					<a class="no_hover" th:if="${prePage - 1 lt 0}">上一页</a>
					<a th:if="${firstResult le totalPages - 1}" th:attr="class = ${prePage == firstResult ? 'clicked' : ''}"
						th:href="${#mvc.url('UC#posts').arg(0, firstResult).arg(1, prePage).arg(2, firstResult).arg(3, session.loginUser.id).build()}" th:text="${firstResult + 1}">1</a>
					<a th:if="${firstResult + 1 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 1 ? 'clicked' : ''}"
						th:href="${#mvc.url('UC#posts').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 1).arg(3, session.loginUser.id).build()}" th:text="${firstResult + 2}">2</a>
					<a th:if="${firstResult + 2 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 2 ? 'clicked' : ''}"
						th:href="${#mvc.url('UC#posts').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 2).arg(3, session.loginUser.id).build()}" th:text="${firstResult + 3}">3</a>
					<a th:if="${firstResult + 3 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 3  ? 'clicked' : ''}"
						th:href="${#mvc.url('UC#posts').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 3).arg(3, session.loginUser.id).build()}" th:text="${firstResult + 4}">4</a>
					<a th:if="${firstResult + 4 le totalPages - 1}" th:attr="class = ${prePage == firstResult + 4  ? 'clicked' : ''}"
						th:href="${#mvc.url('UC#posts').arg(0, firstResult).arg(1, prePage).arg(2, firstResult + 4).arg(3, session.loginUser.id).build()}" th:text="${firstResult + 5}">5</a>
					<a th:if="${prePage + 2 le totalPages}" th:href="${#mvc.url('UC#posts').arg(0, firstResult).arg(3, session.loginUser.id).arg(1, prePage).arg(2, prePage + 1).build()}">下一页</a>
					<a class="no_hover" th:if="${prePage + 2 > totalPages}">下一页</a>
					<a th:href="${#mvc.url('UC#posts').arg(0, totalPages - 6).arg(2, totalPages - 1).arg(3, session.loginUser.id).build()}">尾页</a>
					<a class="no_hover">共<span th:text="${totalPages}"></span>页</a>
				</div>
			</div>
			
			<!-- sidebar部分开始 -->
			<div id="sidebar">
				<!-- 话题分类部分开始 -->
				<div id="topics_container" class="sidebar_module">
					<h2 class="sidebar_module_theme">话题分类 </h2>
					<ul id="topics">
						<li th:each="topicType : ${topicTypes}" th:if="${topicType != null}">
							<a class="topic" th:href="${#mvc.url('BC#topic').arg(3, topicType.key).build()}" th:text="${topicType.value}"></a></li>
					</ul>
				</div>
				<!-- 话题分类部分结束 -->
			</div><div style="clear:both;"></div>
			<!-- sidebar部分结束-->	
		</div>
		<!-- body部分结束-->
		
		<!-- footer部分开始 -->
		<div id="footer">
			<p>Copyright &copy; 2016 by wuchao</p>
		</div>
		<!-- footer部分结束 -->
  	</div>
	
		
	<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/post.js}"></script>
 	<script type="text/javascript">
	/*<![CDATA[*/
		$("#user").mouseover(function(){
			$("#user_list").show();
		}).mouseleave(function(){
			$("#user_list").hide();
		});
		

		//判断字符串是否为空
	 	function isEmpty(str){
			if (str == '' || str == null || str == undefined) {
				return true;
			} else {
				return false;
			}
		}
		
	/*]]>*/
 	</script>
  </body>
</html>
