<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>WUSPACE登录</title>
	<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="all">
	<div id="login_container">
		<div id="login-head">
			<h1>WUSPACE登录</h1>
		</div>
		<form action="login" method="post">
			<p id="message" style="font-family:'微软雅黑';font-size:14px;color:red;"></p>
			<ul>
				<li>
					<i class="icon user"></i>
					<input type="text" name="account" id="account" autocomplete="off"  placeholder="请输入用户名或邮箱账号" class="text"/>
				</li>
				<li>
					<i class="icon lock"></i>
					<input type="password" name="password" id="password" autocomplete="off" maxlength="16" placeholder="请输入用户密码"/> 
				</li>
			</ul>
			<div class="clear"></div>
			<div id="login_operations">
				<label><input type="checkbox" id="cookie" name="cookieMark"/>七天免登陆</label>
				<a id="forget_psw" href="javascript:void(0);">忘记密码 ?</a>
				<input type="button" onclick="login()" value="登 陆"/>
				<a id="login_register" th:href="@{/users/register}">无账号？点此注册</a>
			</div>
		</form>
	</div>					
	<div id="footer">
		<p>Copyright &copy; 2016 by wuchao</p>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/utils.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var user_id = 0;
	
	$("#account").blur(function(){
		var account = $(this).val();
		blurAccount(account);
	});          
	           
	function login(){
		var account = $("#account").val();
		var password = $("#password").val();
		if(isEmpty(account)){
			$("#account").focus();
			showMessage("请输入账号!");
			return;
		}
		if(isEmpty(password)){
			$("#password").focus();
			showMessage("请输入密码!");
			return;
		};
		if(password.length < 6){
			$("#password").focus();
			showMessage("密码位数小于6位!");
			return;
		}
		
		var cookieMark = "";
		if($("#cookie").prop("checked"))cookieMark=1;
		//if($("#cookie").is(":checked"))cookieMark=1;
		
		$.ajax({
			type:"post",
			url:"/users/login",
			data:{"account" : account,"password":password,"cookieMark":cookieMark},
			beforeSend:function(){
			},
			success:function(data){
				if(data.msg.trim() == "error"){
					$("#password").val("").focus();//清空密码
					showMessage("用户名和密码不正确");
					return;
				}
				if(data.msg.trim() == "notexist"){
					$("#account").focus();
					showMessage("账号不存在!");
					return;
				}
				else{
					var url = document.referrer;//获取页面的来访页面
					if(isEmpty(url) || url == "http://localhost:8080/users/register"){
						window.location.href = "/blogs/index";
					}
					else{
						window.location.href = url;	
					}
				}
			}
		});
	};
	
	/*账号输入框失去焦点*/
	function blurAccount(account){
		if(isEmpty(account)){
			return;
		}
		$.ajax({
			type:"get",
			url:"/users/validate",
			data:{"account":account},
			success:function(data){
				user_id = parseInt(data);
				if(user_id == 0){
					showMessage("账号不存在!");
				}
			}
		});
	}
	
	/*显示提示信息*/
	function showMessage(message){
		$("#message").show().html(message).fadeOut(3000);
	}
	/*]]>*/
</script>
</body>
</html>